{% extends "_layouts/base-auth.html" %}
{% load static from staticfiles %}

{% load i18n crispy_forms_tags %}

{% load account %}
{% load crispy_forms_tags %}
{% block footer %}{% endblock %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block nav %}
    {% include 'includes/nav/_navigation.html' with login_form=True login_page=True %}
{% endblock %}

{% block form_content %}
    <p class="text-center">{% trans "Enter the email address associated with your account, and we'll email you a link to reset your password." %}</p>
    <br/>
     <h2>{% trans "Set Password" %}</h2>

        <form method="POST" action="" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="{% trans "Set Password" %}"/>
        </form>
{% endblock %}
{% block javascript %}
{% endblock javascript %}
