{% extends "_layouts/base-auth.html" %}
{% load static from staticfiles %}

{% load i18n crispy_forms_tags %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block footer %}{% endblock %}
{% block form_heading %}<h2>{% trans "Password Changed" %}</h2>{% endblock %}

{% block nav %}
    {% include 'includes/nav/_navigation.html' with login_form=True login_page=True %}
{% endblock %}

{% block form_content %}

        <p>{% trans 'Your password is now changed.' %}</p>
        <a href="{% url 'home' %}" class="btn btn-primary btn-block btn-lg" name="action">{% trans "Return to Home Page" %}</a>
{% endblock %}
{% block javascript %}
{% endblock javascript %}
