{% load staticfiles %}
<section class="achievments white-bg row">
    <div class="container ">
        <div class="row text-center">


         <div class="col-sm-2 col-xs-4 awards">
            <a href="{% url 'press' %}">
                <img src="{% static 'img/press/forbes.png' %}"
                class="img-responsive"/></a>
            </div>
            <div class="col-sm-2 col-xs-4 awards">
                <a href="{% url 'press' %}">
                    <img src="{% static 'img/press/microsoft.png' %}"
                    class="img-responsive"/></a>
                </div>
                <div class="col-sm-2 col-xs-4 awards">
                    <a href="{% url 'press' %}">
                        <img src="{% static 'img/press/channels.png' %}"
                        class="img-responsive"/></a>
                    </div>
                <div class="col-sm-2 col-xs-4 awards mobile-space-25 hidden-xs">
                    <a href="{% url 'press' %}">
                        <img src="{% static 'img/press/bellanaija.jpg' %}"
                        class="img-responsive"/></a>
                    </div>
                    
                    <div class="col-sm-2 col-xs-4 awards mobile-space-25 hidden-xs">
                        <a href="{% url 'press' %}">
                            <img src="{% static 'img/press/aljazeera.jpg' %}"
                            class="img-responsive"/></a>
                        </div>
                    <div class="col-sm-2 col-xs-4 awards hidden-xs">
                        <a href="{% url 'press' %}">
                            <img src="{% static 'img/press/ynaija.jpg' %}"
                            class="img-responsive"/></a>
                        </div>





        <!--<div class="col-sm-2 col-xs-4 awards">
            <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                <img src="{% static 'img/press/forbes.png' %}"
                class="img-responsive"/></a>
            </div>
            <div class="col-sm-2 col-xs-4 awards">
                <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                    <img src="{% static 'img/press/microsoft.png' %}"
                    class="img-responsive"/></a>
                </div>
                <div class="col-sm-2 col-xs-4 awards">
                    <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                        <img src="{% static 'img/press/channels.png' %}"
                        class="img-responsive"/></a>
                    </div>
                <div class="col-sm-2 col-xs-4 awards mobile-space-25">
                    <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                        <img src="{% static 'img/press/bellanaija.jpg' %}"
                        class="img-responsive"/></a>
                    </div>
                    
                    <div class="col-sm-2 col-xs-4 awards mobile-space-25">
                        <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                            <img src="{% static 'img/press/aljazeera.jpg' %}"
                            class="img-responsive"/></a>
                        </div>
                    <div class="col-sm-2 col-xs-4 awards">
                        <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                            <img src="{% static 'img/press/ynaija.jpg' %}"
                            class="img-responsive"/></a>
                        </div>-->
                            <!--<div class="col-sm-2 col-xs-4 awards mobile-space-25">
                            <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                                <img src="{% static 'img/press/intel.png' %}"
                                class="img-responsive"/></a>
                            </div>-->                            
                        <!--<div class="col-sm-2 col-xs-4 awards mobile-space-25">
                            <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                                <img src="{% static 'img/press/techcabal.png' %}"
                                class="img-responsive"/></a>
                            </div>-->
                            <!--<div class="col-sm-2 col-xs-2 hidden-xs awards">
                                <a href="{% url 'press' %}">
                                    <img src="{% static 'img/press/techpoint.png' %}"
                                    class="img-responsive"/></a
                                </div>-->
                                <!--<div class="col-sm-2 col-xs-2 hidden-xs awards">
                                <a href="{% url 'press' %}">
                                    <img src="{% static 'img/press/nationalmirror.png' %}"
                                    class="img-responsive"/></a>
                                </div>-->
                                <!--<div class="col-sm-2 col-xs-2 hidden-xs awards">
                                    <a href="{% url 'press' %}">
                                        <img src="{% static 'img/press/cpafrica.png' %}"
                                        class="img-responsive"/></a>
                                    </div>-->
                                <!--<div class="col-sm-2 col-xs-4 awards mobile-space-25">
                                    <a href="{% if not clickable %}{% url 'press' %}{% else %}javascript:void(0){% endif %}">
                                        <img src="{% static 'img/press/niara.jpg' %}"
                                        class="img-responsive"/></a>
                                    </div>-->           
                                </div>           
                            </div>
                        </section>


