<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Flexible </a>
    </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <h4 class="padding-space-top-3 row-space-3">Flexible: 6 hours notice required for full refund</h4>

        <ul>          
            <li>If the client cancels a single lesson less than 6 hours before it commences, the cost of the first hour is non-refundable but remaining hours are 100% refunded.
            </li>
            <li>If a booking contains more than one session and the client cancels the entire booking before it starts, 10% of the booking cost is paid to tutor, while 90% is refunded to the client.</li>
            <li>A lesson is officially canceled when the client clicks the 'Cancel' button on the cancellation confirmation page.
            </li>
        </ul>

    </div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Moderate
      </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
  <div class="panel-body">
    <h4 class="padding-space-top-3 row-space-3">Moderate: 12 hours notice required for full refund</h4>
        <ul>          
            <li>If the client cancels a single lesson less than 12 hours before it commences, the cost of the first hour is non-refundable but remaining hours are 90% refunded.
            </li>
            <li>If a booking contains more than one session and the client cancels the entire booking before it starts, 15% of the booking cost is paid to tutor, while 85% is refunded to the client.</li>
            <li>A lesson is officially canceled when the client clicks the 'Cancel' button on the cancellation confirmation page.
            </li>
        </ul>


    </div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Strict
      </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <div class="panel-body">
    <h4 class="padding-space-top-3 row-space-3">Strict: 24 hours notice required for full refund</h4>
        <ul>            
            <li>If the client cancels a single lesson less than 24 hours before it commences, the cost of the first hour is non-refundable but remaining hours are 80% refunded.
            </li>
            <li>If a booking contains more than one session and the client cancels the entire booking before it starts, 20% of the booking cost is paid to tutor, while 80% is refunded to the client.</li>
            <li>A lesson is officially canceled when the client clicks the 'Cancel' button on the cancellation confirmation page.
            </li>
        </ul>

        
    </div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Long Term
      </a>
  </h4>
</div>
<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
  <div class="panel-body">
    <h4 class="padding-space-top-3 row-space-3">Long Term: 30% down payment required for all bookings</h4>
        <ul>
            <li>Note: this policy automatically applies to all bookings of 24 hours or more.</li>
            <li>If the client books a long term lesson and decides to cancel the long term agreement before the start date, 30% of payment is credited to the tutor while 70% is refunded.
            </li>
            <li>If the client books a long term lesson and decides to cancel the long term agreement or any session during the lesson, 30% of payment is credited to the tutor while 70% is refunded to client.</li>
        </ul>        
    </div>
</div>
</div>
</div>
</section>

<section class="hide">
    <div class="tabs tabs-style-topline">
        <nav class="visible-xs">
            <ul>
                <li><a href="#about-subject" class=""><span>About Subject</span></a></li>
                <li><a href="#credentials-section" class=""><span>Credentials</span></a></li>
                <li><a href="#price-and-policies" class=""><span>Price and Policy</span></a>
                </li>
            </ul>
        </nav>

        <div class="content-wrap">
            <section id="about-subject" class="panel">
                <div class="hidden-xs panel-heading clearfix panel-sections">
                    <h4 class="pull-left">About This Subject</h4>

                    <div class="pull-right text-center panel-heading-right">
                        <i class="fa fa-eye block-icon"></i>

                        <div class="reviewed">Reviewed</div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3">
                            <p class="text-muted"><strong>Experience</strong></p>
                        </div>

                        <div class="col-md-9 expandable expandable-trigger-more">
                            <div class="">
                                <p>Our b & b is located in the heart of Venice, close to Piazza
                                    San
                                    Marco
                                    and
                                    Fenice
                                    Theater, in a
                                    ancient building on the first floor with private entrance
                                    who
                                    overlooks
                                    on
                                    canal
                                    de le Ostreghe,
                                    nearby of Grand Canal, where it’s possible to see many
                                    gondolas
                                    and
                                    gondoliers
                                    singing,
                                    <br/>It has three comfortable bedrooms all with ensuite
                                    bathroom,
                                    tastefully
                                    decorated. The Junior
                                    suite has the seating area, windows and small balcony who
                                    overlooks on
                                    the
                                    canal
                                    De Le Ostreghe.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted"><strong>Teaching Methods</strong></p>
                            </div>

                            <div class="col-md-9 expandable expandable-trigger-more">
                                <div class="">
                                    <p>To go around to Venice or to go to the islands of Murano,
                                        Burano
                                        or
                                        Torcello,
                                        there are motorboats,
                                        ferries and waterbus which stops a few steps from our b & b.
                                        Also useful
                                        to
                                        reach Lido during the
                                        Venice Film Festival, rather than the Biennale at the
                                        Arsenale
                                        area, the
                                        exclusive Lido beaches or for
                                        who prefer the Alberoni beach free.
                                        <br/>A waterbus stop is just a few steps from our residence
                                        (Gilgio stop
                                        line
                                        1), and in the canal in
                                        front of us taxis and gondolas.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-md-3">
                                <p class="text-muted"><strong>Some Topics</strong></p>
                            </div>

                            <div class="col-md-9 expandable expandable-trigger-more">
                                <div class="">
                                    <div class="row">
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                        <div class="col-xs-6">English</div>
                                    </div>

                                    <div class="expandable-indicator"></div>
                                </div>

                                <a class="expandable-trigger-more" href="#">
                                    <strong>+ More</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="credentials-section" class="panel">
                    <div class="hidden-xs panel-heading clearfix panel-sections">
                        <h4 class="pull-left">Credentials</h4>

                        <div class="pull-right text-center panel-heading-right">
                            <i class="fa fa-check"></i>

                            <div class="reviewed">Verified</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted">
                                    <strong>Schools attended</strong>
                                </p>
                            </div>
                            <div class="col-md-9">

                                <div class="row">
                                    <div class="col-xs-12">

                                        <div class="credential-details">
                                            <h4>University of Lagos Akoka</h4>

                                            <p>Systems Engineering
                                                <small>, <strong>BSc</strong></small>
                                            </p>
                                        </div>
                                        <div class="credential-details">
                                            <h4>University of Ilorin, Kwara</h4>

                                            <p>Systems Engineering
                                                <small>, <strong>Msc</strong></small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted">
                                    <strong>Places Worked</strong>
                                </p>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-xs-12">

                                        <div class="credential-details">
                                            <h4>Exxonmobil Nigerial, Unlimited</h4>

                                            <p>Onsite support Engineering
                                                <small>, <strong>Intern</strong></small>
                                            </p>
                                        </div>
                                        <div class="credential-details">
                                            <h4>Mobitel Nigeria Limited</h4>

                                            <p>Software Developer,
                                                <small><strong>Intern</strong></small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted">
                                    <strong>Certificates & Awards</strong>
                                </p>

                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-xs-12">

                                        <div class="credential-details">
                                            <h4>Maltina Dance Hall Competition</h4>

                                            <p>National Salsa Dance
                                                <small><strong>Winner</strong></small>
                                            </p>
                                        </div>
                                        <div class="credential-details">
                                            <h4>Audition Project Fame</h4>

                                            <p>Last man standing award
                                                <small><strong>Winner</strong></small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="price-and-policies" class="panel">
                    <div class="hidden-xs panel-heading clearfix panel-sections">
                        <h4>Pricing & Policies</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted">
                                    <strong>Pricing</strong>
                                </p>

                            </div>
                            <div class="col-md-9">

                                <p><strong>Hourly Price per Student</strong></p>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-6">Rate: <strong>$1500/hr</strong>
                                            </div>

                                            <div class="col-xs-6">Maximum Students: 5</div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <div>Extra students: <strong>$900/hr</strong></div>
                                    </div>
                                </div>
                                <br>

                                <p><strong>Monthly Price per Student</strong></p>

                                <div class="row">
                                    <div class="col-xs-6">Rate: <strong>$32,000/month</strong>
                                    </div>
                                    <div class="col-xs-6">Extra Student: <strong>$24,000</strong>
                                    </div>

                                    <div class="col-xs-6">Days/week: <strong>3 days</strong></div>
                                    <div class="col-xs-6">Hours/day: <strong>2 hours</strong></div>

                                </div>

                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted">
                                    <strong>Cancellation Policy</strong>
                                </p>
                            </div>
                            <div class="col-md-9">
                                <a href="#"><p><strong>Flexible</strong></p></a>

                                <p>Godwin requires at least 6 hours notice should you decide to
                                    reschedule or cancel a lesson</p>

                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="text-muted">
                                        <strong>Travel Policy</strong>
                                    </p>
                                </div>
                                <div class="col-md-9">
                                    <p><strong>Lessons hold at your home.</strong></p>

                                    <p>Godwin will usually travel at most 10km from Surulere (e.g from
                                        Surulere to Ojota)</p>

                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="text-muted">
                                            <img class="img-circle" src="http://placehold.it/64x64">
                                        </p>

                                    </div>
                                    <div class="col-md-9 expandable expandable-trigger-more">
                                        <p><strong>Good Fit Guarantee</strong>

                                            <p>

                                                <p>Your first hour with Godwin or any other tutor on Tuteria is
                                                    protected by our Good Fit
                                                    Guarantee. You don't pay for tutoring unless you find a good
                                                    fit.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                </div>
                            </div>

                            </section> 