<div class="panel filter-form-container ">
    <div class="panel-heading clearfix" style="position:relative;">
        <h4 class="panel-title pull-left padding-top-bottom-14"><i
                class="fa fa-sliders fa-rotate-90"></i> 8
            tutors </h4>
    </div>
    <hr>
    <div class="panel-body">
        <form id="filterForm">
			<div class="row">
	<div class="col-sm-6 col-md-12 col-lg-12 col-xs-8">		
	    <div class="form-group row-space-4">
	    	<label class="control-label">Location</label>
	    	<input type="text" class="form-control input-sm">
	    </div>
	</div>
	<div class="col-xs-4  visible-xs">
		<div class="form-group row-space-4">
			<label class="control-label">Region</label>
			<select name="" id="" class="form-control"></select>
	    </div>
	</div>
	<div class="col-sm-3 col-md-12 col-lg-12 col-xs-6 hidden ">
		<div class="form-group row-space-4">
			<label class="control-label">Distance</label>
			<select name="" id="" class="form-control"></select>
    	</div>
	</div>	
	<div class="col-xs-6 col-sm-3 col-md-12 col-lg-12 ">
		 <div class="form-group row-space-4">
		 	<label class="control-label">Age</label>
		 		<select name="" id="" class="form-control"></select>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 col-md-6 col-lg-6 col-xs-6 no-padding-right">
		<div class="form-group row-space-4 margin-bottom-35">
	        <label for="" class="control-label">Min Price</label>
	        <select name="" id="" class="form-control"></select>
	    </div>		
	</div>
	<div class="col-sm-3 col-md-6 col-lg-6 col-xs-6 no-padding-left-big">
		<div class="form-group margin-bottom-40">
            <label for="">Max Price</label>
	        <select name="" id="" class="form-control"></select>
        </div>	    
	</div>
		<div class="col-sm-3 col-md-12 col-lg-12 col-xs-6">
			<div class="form-group row-space-4 margin-bottom-35">
				<label for="" class="control-label">Gender</label>
				<select name="" id="" class="form-control"></select>
		    </div>		
		</div>
		<div class="col-sm-3 col-md-12 col-lg-12 hidden additional_filters col-xs-6">
			<div class="checkbox">
			    <label>
			    <input type="checkbox"> Is teacher?
			    </label>
			  </div>
		</div>	
		<div class="col-sm-3 col-md-12 col-lg-12 extra-filters col-xs-6">
			<a href="javascript:void(0)">More filters?</a>
		</div>
</div>   
        </form>
    </div>
</div>
 
