{% extends "users/includes/profile_base.html" %}
{% load staticfiles add_attr bootstrap3 i18n activelink cache %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tutor-profile-update.css' %}"/>
{% endblock %}
{% block title %}Tutor Profile - Tuteria{% endblock title %}
{% block ng_app %}ng-app="TutorScheduleCtrl"{% endblock %}
{% block main_content %}
    <div id="home-container" class="smart-forms hidden">
        {% if preference_form.errors %}            
        {% bootstrap_form_errors preference_form %}
        {% endif %}
        <form accept-charset="UTF-8" action="{% url 'users:edit_tutor_profile' %}" class="new_user"
              id="edit_tutor_profile_form" method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="row panel panel-default row-space-4" id="credential-section">
                <div class="panel-heading">
                    <h4>Credentials</h4>
                </div>
                <div class="panel-body">
                    <div class="row row-space-4">
                        <label class="col-md-3 text-right font-head">Education</label>

                        <div class="col-md-9">
                            <div id="education-form">
                                {{ education_formset.management_form }}
                                {% for form in education_formset %}
                                    <div id="{{ form.prefix }}-row" class="form-base">
                                        {{ form.id }}
                                        <div class="form-group">
                                        <label class="pad-down-5">Name of School or Institute</label>
                                            {% bootstrap_label form.school.label label_class="sr-only" %}
                                            {{ form.school|add_attributes:"class:form-control,required:true" }}
                                        </div>
                                        <div class="row row-space-2">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">Course of Study</label>
                                                    {% bootstrap_label form.course.label label_class="sr-only" %}
                                                    {{ form.course|add_attributes:"class:form-control,required:true" }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">Degree</label>
                                                    {% bootstrap_label form.degree.label label_class="sr-only" %}
                                                    {{ form.degree|add_attributes:"class:form-control,required:true" }}
                                                </div>
                                            </div>
                                        </div>
                                        {{ form.DELETE }}
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <hr class="row hr-styled row-space-2 ">
                    <div class="row row-space-4">
                        <label class="col-md-3 text-right font-head">
                            Work Experience
                        </label>

                        <div class="col-md-9">

                            <div id="we-form">
                                {{ we_formset.management_form }}
                                {% for form in we_formset %}
                                    <div id="{{ form.prefix }}-row" class="form-base">
                                        {{ form.id }}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">Name of Company or Organization</label>
                                                    {% bootstrap_label form.name.label label_class="sr-only" %}
                                                    {{ form.name|add_attributes:"class:form-control" }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">Your Role</label>
                                                    {% bootstrap_label form.role.label label_class="sr-only" %}
                                                    {{ form.role|add_attributes:"class:form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">                                            
                                            <div class="col-sm-6 checkbox">
                                                 <label>
                                                    {{ form.currently_work }} I currently work here
                                                </label>
                                            </div>
                                        </div>
                                        {{ form.DELETE }}
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr class="row hr-styled row-space-2 ">
                    <div class="row row-space-4">
                        <label class="col-md-3 text-right font-head">
                            Teaching Experience
                        </label>

                        <div class="col-md-9">
                            <div class="row row-space-bottom-5">
                                <label class="col-md-3 text-right">
                                    {{preference_form.years_of_teaching.label}}
                                </label>
                                <div class="col-md-9">
                                    {{preference_form.years_of_teaching|add_attributes:"form-control"}}
                                </div>
                            </div>
                            <div id="curr" class="row row-space-4">
                                <label class="col-md-3 text-right">
                                    Select the class of students you teach
                                </label>
                                <div class="col-md-9">
                                    {% for rr in preference_form.classes %}
                                    <div class="col-sm-4 checkbox-space">
                                        {{ rr }}
                                    </div>
                                    {% endfor %}
                                    {% if preference_form.classes.errors %}
                                        <div class="has-error">
                                            {{preference_form.classes.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="well bg-info">
                                <span class="font-head">School Curriculum</span><br>
                                If you selected Nursery, Primary, JSS or SSS classes, then please select the curriculum(s) you teach with or skip this step if you don't teach those classes.
                            </div>
                            <div>
                                <div  class="row row-space-4">
                                <label class="col-md-3 text-right">                                    
                                    Select Curriculum
                                </label>
                                <div class="col-md-9">
                                    {% for rr in preference_form.curriculum_used %}
                                    <div class="col-sm-4 checkbox-space">
                                        {{ rr }}
                                    </div>
                                    {% endfor %}
                                    {% if preference_form.curriculum_used.errors %}
                                        <div class="has-error">
                                            {{preference_form.curriculum_used.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>    
                            <div id="curriculum_pref" class="row row-space-4 hidden">
                                <label class="col-md-3 text-right">
                                    British or American Curriculum
                                </label>
                                <div class="col-md-9">
                                    <p>Please tell us about your experience with this curriculum</p>
                                    <div class="form-group">
                                        {{preference_form.curriculum_explanation|add_attributes:"class:form-control,rows:4"}}
                                    </div>
                                </div>
                            </div>                            
                            </div>                            
                        </div>
                    </div>
                    <div class="row">                      
                
                        <div class="col-sm-3 col-sm-offset-9">

                            <button type="submit" class="pull-right btn btn-primary btn-lg btn-block">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="hidden row panel panel-default row-space-4" id="schedule-calendar" data-ng-cloak>
                <div class="panel-heading"><h4>Schedule</h4></div>
                
                <div class="panel-body" ng-controller="TutorCalendarCtrl">
                {% if request.is_featured %}
                    You can't make changes to your calendar on this browser. Please use a better browser to enable you edit your calendar.
                    {% else %}

                    {% verbatim %}
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div ng-show="date_selected" class="custom-time-picker padding-left-right-15">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <button type="button" class="close pull-right" ng-click="cancel('dismiss')">
                                                <span aria-hidden="true">&times;</span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                            <h3 class="modal-title">{{ h3() }}</h3>
                                            <small>{{ subheading(2) }}</small>
                                        </div>
                                        <div class="panel-body">
                                            <div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <select ng-model="selectedDate.start_time"
                                                                    class="form-control input-sm" name="sss"
                                                                    ng-options="item for item in getStartHours()"
                                                                    ng-change="getEndHours(selectedDate.start_time)">
                                                                <option value="">Start time</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <select ng-model="selectedDate.end_time"
                                                                    class="form-control input-sm" name="sss"
                                                                    ng-options="item for item in getEndHours(selectedDate.start_time)">
                                                                <option value="">End time</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="isNew">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input ng-model="selectedDate.reoccur" type="checkbox"> Set
                                                            this weekday for the next 4 months?
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <small>Changes will reflect after you submit</small>

                                        </div>
                                        <div class="panel-footer clearfix">
                                            <div ng-show="isNew" class="col-sm-6 col-xs-12">
                                                <small ng-hide="validate()" class="text-danger invalid-times">
                                                    Pls select a valid start and end time;
                                                </small>
                                            </div>
                                            <div ng-show="isNew" class=" col-sm-6 col-xs-12">
                                                <a href="javascript:void(0)" class="btn btn-success btn-sm btn-block"
                                                        ng-click="ok('create')">
                                                    Add
                                                </a>
                                            </div>
                                            <div ng-hide="isNew"
                                                 class="row-space-mobile-4 col-sm-6 col-sm-push-6 col-xs-12">
                                                <a href="javascript:void(0)" class="btn btn-info btn-block" ng-click="ok('update')">Update
                                                    Session
                                                </a>
                                            </div>
                                            <div ng-hide="isNew" class="col-sm-6 col-sm-pull-6 col-xs-12">
                                                <a href="javascript:void(0)" class="btn btn-warning btn-block" ng-click="cancel('cancel')">
                                                    Cancel Session
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <multiple-date-picker directive-scope=ds days-selected="availableDays"
                                                      day-click="dateClick"
                                                      sunday-first-day="true"
                                                      day-hover="hoverEvent" month-changed="logMonthChanged"
                                                      days-off="noneAvailableDays"
                                                      disallow-back-past-months="true"></multiple-date-picker>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <h4>Calendar Update Summary</h4>
                                <p>Click on any date to add, remove or edit your calendar. Dates in <span style="color:blue"><b>Blue</b></span> are your current tutoring days. Those in White are free.</p>
                                
                                <ul class="list-group schedule-change-summary">
                                    <li class="list-group-item">
                                        <div class="calendar-legend-add"></div>
                                        Days added: <strong>{{ new_occurrences() }}
                                            day<span ng-show="new_occurrences() >1">s</span></strong>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="calendar-legend-change"></div>
                                        Days edited: <strong>{{ updates.length }} day<span
                                                ng-show="updates.length >1">s</span></strong>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="calendar-legend-remove"></div>
                                        Days removed: <strong>{{ cancelled.length }}
                                            day<span ng-show="cancelled.length >1">s</span></strong>
                                    </li>
                                </ul>
                                <div class="margin-top-20">
                                    <a href="javascript:void(0)" ng-disabled="date_selected" ng-click="updateCalendar()"
                                            class="btn btn-block btn-lg btn-primary">
                                        Update Calendar
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endverbatim %}
                {% endif %}
                </div>
            </div>
            <br>
            <div class="row panel panel-default row-space-4 hide" id="schedule-section">
                <div class="panel-heading">
                    <h4>Preferences</h4>
                </div>
                <div class="panel-body">
                    <div class="row row-space-4">
                        <label class="col-md-3 text-right font-head">
                            Preferred Hiring Mode
                        </label>

                        <div class="col-md-9">
                            <div id="hour_preference-form">
                                <div class="row-space-4">
                                    <div class="checkbox">
                                        <label>
                                            {{ preference_form.allow_monthly }}{{ preference_form.allow_monthly.label }}
                                        </label>
                                    </div>
                                <span class="input-hint monthly_booking_checkbox">
                                </span>

                                </div>
                                <div class="row-space-4 hidden">
                                    <div class="checkbox">
                                        <label>
                                            {{ preference_form.toggle_skill }}{{ preference_form.toggle_skill.label }}
                                        </label>
                                    </div>
                                <span class="input-hint monthly_booking_checkbox">
                                </span>

                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            {% bootstrap_label preference_form.hours.label label_class='sr-only' %}
                                            {{ preference_form.hours|add_attributes:"class:form-control disable-group" }}
                                        </div>
                                <span class="input-hint"> Number of hours per lesson (monthly booking)
                                </span>

                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            {% bootstrap_label preference_form.days.label label_class='sr-only' %}
                                            {{ preference_form.days|add_attributes:"class:form-control disable-group" }}
                                        </div>

                                <span class="input-hint">Number of days per week (monthly booking)
                                </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space-4">
                        <label class="col-md-3 text-right font-head">
                            Booking & Response Time
                        </label>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% bootstrap_label policy_form.response_time.label label_class="control-label sr-only" %}
                                        {{ policy_form.response_time|add_attributes:"class:form-control,required:true" }}
                                    </div>
                            <span class="input-hint">Average Response Time
                            </span>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% bootstrap_label policy_form.booking_prep.label label_class='control-label sr-only' %}
                                        {{ policy_form.booking_prep|add_attributes:"class:form-control,required:true" }}
                                    </div>

                            <span class="input-hint">Booking Preference
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row panel panel-default row-space-4 hide" id="preference-section">
                <div class="panel-heading">
                    <h4>Policies</h4>
                </div>
                <div class="panel-body">
                    <div class="row row-space-4">
                        <label class="col-md-3 text-right font-head">
                            Cancellation Policy
                        </label>

                        <div class="col-md-9">
                        {% cache 100000000 'policy' %}
                            {% include 'includes/policy.html' %}
                        {% endcache %}
                            <div id="cancellation_form" class="center-block">
                                <div class="form-inline">

                                    <div class="form-group">
                                        {% bootstrap_label policy_form.cancellation.label label_class='control-label' %}

                                        {{ policy_form.cancellation|add_attributes:"class:form-control,required:true" }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row row-space-4">
                        <label class="col-md-3 text-right font-head">
                            Travel Policy
                        </label>

                        <div class="col-md-9">
                            <div id="travel_form" class='row-space-4'>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {% bootstrap_label policy_form.tutoring_address.label label_class="control-label sr-only" %}
                                            {{ policy_form.tutoring_address|add_attributes:"class:form-control,required:true" }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {% bootstrap_label policy_form.tutoring_distance.label label_class="control-label sr-only" %}
                                            {{ policy_form.tutoring_distance|add_attributes:"class:form-control,required:true" }}
                                        </div>
                                    </div>
                                </div>                        
                            </div>

                            <div id="tutoring_address_section" class="hide">
                                <div class="form-group">
                                    {% bootstrap_label policy_form.address_reason.label label_class='control-label sr-only' %}
                                    {{ policy_form.address_reason|add_attributes:"class:form-control,required:true,disabled:true"}}
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <br>
             <!-- <div id="guarantor_section" class="row panel panel-default row-space-4" id="credential-section">
                <div class="panel-heading">
                    <h4>Guarantors</h4>
                </div>
                <div class="panel-body">
                    <div class="row row-space-4">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="well bg-info">
                                <span class="font-head">Why we ask for guarantors</span><br>
                                This is primarily to put your clients at ease, especially parents. If you teach students under 18, then please provide two guarantors who must be professional references such as a teacher, boss, clergy, senior colleague or someone of high repute who can testify of your good will.
                            </div>  
                        </div>
                        <label class="col-md-3 text-right font-head">Guarantor Details</label>
                        <div class="col-md-9">                    
                            <div id="guarantor-form">
                                {{ guarantor_formset.management_form }}
                                {% for form in guarantor_formset %}
                                    <div id="{{ form.prefix }}-row" class="form-base">
                                        {{ form.id }}
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label class="pad-down-5">First Name</label>
                                                <div class="form-group">
                                                    {% bootstrap_label form.first_name.label label_class="sr-only" %}
                                                    {{ form.first_name|add_attributes:"class:form-control,required:true" }}
                                                    {% if form.first_name.errors %}
                                                        <div class="has-error">
                                                            {{form.first_name.errors}}
                                                        </div>
                                                    {% endif %}
                                                </div>                                                        
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">Last Name</label>
                                                    {% bootstrap_label form.last_name.label label_class="sr-only" %}
                                                    {{ form.last_name|add_attributes:"class:form-control,required:true" }}
                                                    {% if form.last_name.errors %}
                                                        <div class="has-error">
                                                            {{form.last_name.errors}}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">Email Address</label>
                                                    {% bootstrap_label form.email.label label_class="sr-only" %}
                                                    {{ form.email|add_attributes:"class:form-control" }}
                                                    {% if form.email.errors %}
                                                        <div class="has-error">
                                                            {{form.email.errors}}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                            <label class="pad-down-5">Phone Number</label>
                                                <div class="form-group">
                                                    {% bootstrap_label form.phone_no.label label_class="sr-only" %}
                                                    {{ form.phone_no|add_attributes:"class:form-control,required:true" }}
                                                    {% if form.phone_no.errors %}
                                                        <div class="has-error">
                                                            {{form.phone_no.errors}}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="row margin-bottom-5">
                                                <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">No. of Years Known</label>
                                                    {% bootstrap_label form.no_of_years.label label_class="sr-only" %}
                                                    {{ form.no_of_years|add_attributes:"class:form-control,required:true" }}
                                                    {% if form.no_of_years.errors %}
                                                        <div class="has-error">
                                                            {{form.no_of_years.errors}}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label class="pad-down-5">Place of Work</label>
                                                {{ form.organization|add_attributes:"class:form-control,required:true" }}
                                               {% if form.organization.errors %}
                                                    <div class="has-error">
                                                        {{form.organization.errors}}
                                                    </div>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {{ form.DELETE }}
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                   
                </div>
            </div> -->
        </form>
        <div class="row padding-top-30 well bg-info">
            <div class="row row-space-4">
                <label class="col-md-3 text-right" style="margin-top: 10px">Share Your Profile!</label>
                <div class="col-md-5">
                    <textarea readonly="readonly" style="height:35px;" class="form-control"> {{public_url}} </textarea>
                </div>
                <div class="col-md-4">
                 <ul class="list-inline text-center space-for-mobile">
                    <li>
                        <a id="facebook-share" title="Share on Facebook" class="btn btn-social-icon btn-facebook share-popup" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u={{public_url|urlencode}}"><i
                                class="fa fa-facebook"></i></a></li>
                    <li>
                        <a target="_blank" title="Share on Twitter" class="btn btn-social-icon btn-twitter share-popup"
                           href="https://twitter.com/home?status={{public_url|urlencode}}"><i
                                class="fa fa-twitter"></i></a></li>
                    <li> 
                        <a id="google-share" title="Share on Google+" target="_blank" href="https://plus.google.com/share?url={{ public_url|urlencode }}" class="share-popup">
                        <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+"/></a>
                   </li> 
                   <li> 
                    <a target="_blank" title="Share on LinkedIn" class="btn btn-social-icon btn-linkedin share-popup"
                     href="https://www.linkedin.com/shareArticle?mini=true&url={{public_url|urlencode}}&source="><i
                                        class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>    
        
    </div>
        
</div>
{% endblock main_content %}
{% block request_section %}{% endblock request_section %}
{% block javascript %}
    {{block.super}}
    <script src="{% static "js/cbpFWTabs.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.27/angular.min.js"></script>
    <script>
        window.loc_distances = JSON.parse('{}');
        (function () {

            [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });
        })();
        var TutorSchedule = JSON.parse('{}');
        console.log(TutorSchedule);
        angular.module('json_response', []).value('ScheduleJson', TutorSchedule);
    </script>
    <script src="{% static 'js/tutor_profile_update.bundle.js' %}"></script>
    <script>
    window.___gcfg = {
        lang: 'en-US',
        parsetags: 'onload'
      };
    $('#home-container').removeClass('hidden');

    </script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}