<div id="signup_header_text" class="mp-header text-center row-space-4">
    <h2 class="below18 alignc"> {% if not mail_list %}Welcome, let's get you inside{% else %}Subscribe with Tuteria {% endif %} </h2>
    <p class="below36 alignc">{% blocktrans %}Join Tuteria to connect with qualified tutors and clients in your community. Are you already a member? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
</div>
<div id="maillist_header_text" class="hidden">
    Hello wold
</div>