{% load i18n %}
{% load bootstrap3 %}
{% load add_attr %}
<form accept-charset="UTF-8" action="{% url 'account_reset_password' %}" class="new_user" id="reset_password_form"
      method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
        {% bootstrap_label form.email.label label_class="control-label sr-only" %}
        {{ form.email|add_attributes:"class:form-control,placeholder:What's your Tuteria email?,required:true" }}

    </div>

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    <div class="invalid-form-error-message"></div>

    <div class="row">
        <div class="form-group col-sm-12">
            <button id="resetButton" data-loading-text="Sending..." class="btn btn-primary btn-block btn-lg big-btn" type="submit">{% trans "Reset" %}</button>
        </div>
    </div>
</form>