{% extends '_layouts/base-external.html' %}
{% load static from staticfiles %}
{% load account %}
{% load add_attr i18n activelink %}
{% block fixed %}{% endblock %}
{% block nav_class %}transparent-nav{% endblock %}
{% block title %}Online Lessons | Tuteria NG{% endblock title %}
{% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Learn to Speak Your Nigerian Language Online"/>
    <meta name="author" content=""/>
    <!-- for Facebook -->
    <meta property="fb:app_id" content="781136408623359"/>
    <meta property="og:site_name" content="Tuteria"/>
    <meta property="og:title" content="Learn to Speak your Nigerian Language | Tuteria NG"/>
    <meta property="og:description" content="Book authentic lessons with native language teachers over Skype"/>

    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://{{ site.domain }}{% static "img/backgrounds/howitwork.jpg" %}?t=12345?"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@tuteriacorp"/>
    <meta name="twitter:title" content="Learn to Speak your Nigerian Language | Tuteria NG"/>
    <meta name="twitter:description" content="Book authentic lessons with native language teachers over Skype - Yoruba, Igbo, Hausa, Kalabari etc."/>
    <meta name="twitter:image" content="https://{{ site.domain }}{% static "img/backgrounds/howitwork.jpg" %}?t=12345?"/>
    <meta name="twitter:creator" content="@tuteriacorp">
{% endblock meta_tags %}

{% block css %}
    {{ block.super }}
    {#    <link rel="stylesheet" href="{% static "css/main.css" %}">#}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/carousel-css.css' %}"/>
    <style>
        .well.around {
            border: 2px solid #d9edf7;
        }

        .well.styling {
            background-color: rgba(250, 217, 32, 0.31);
            border: none;
        }

        .pac-container {
            background-color: #FFF;
            z-index: 10000000;
            position: fixed;
            display: inline-block;
            float: left;
        }
        .input-addon.js-p1-search-cta{
            cursor: pointer;
        }

        @media (max-width: 768px) {
            .well.styling {
                text-align: center;
            }
        }

        @media (min-width: 1020px) {
            .content-carousel h2 {
                font-size: 50px;
                line-height: 65px;
            }
        }

        .media {
            margin-top: 15px !important;
        }

        @media (max-width: 768px) {
            .media-object {
                position: relative !important;
            }
        }

        .input-addon {
            display: table;
            width: 100%;
        }

        .fake-search-field {
            background-color: #fff;
        }

        .input-large {
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .input-stem {
            display: table-cell;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn.fa.icon-full {
            font-size: 19px;
        }

        .input-suffix.btn {
            padding-top: 11px;
            padding-bottom: 11px;
            margin-left: -45px;
        }
          .padding-top-70{
            padding-top: 70px;
        }
        @media(min-width: 768px){
            .left-pull{
                float: left !important;
            }
        }
        @media(max-width: 768px){
            .package{
                background: none;
            color: inherit;
            text-align: center;
            padding: 20px 15px 20px 0px;
            }
        }
        @media(min-width: 768px){
            .package{
            background: none;
            /*background: url(/static/img/gallery/5-off.png) #53c1cd left no-repeat;*/
            color: inherit;
            text-align: center;
            padding: 20px 15px 20px 0px;
            }
        }
        
        .package .headtext{
            font-size: 30px;
            line-height: 37px;
        }
        .package .subtext{
            font-size: 14px;
            line-height: 17px;
        }
      @media(min-width: 768px){
        .form-padding{
            padding: 10px 30px;
        }
      }
      .form-group-sm .form-control, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn, .input-sm {
    height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 1px;
}

.form-group-sm .form-control, .input-group-sm>.input-group-btn>select.btn, .input-group-sm>select.form-control, .input-group-sm>select.input-group-addon, select.input-sm {
    height: 35px;
    line-height: 30px;
    border-radius: 1px;
}

.tutor-bg {
    background-image: url(http://i65.tinypic.com/2lka5j4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}
.bg-babu {
    background-color: #00d1c1;
    padding: 60px 40px;
    border: none;
    border-radius: 0;
}
.font-18{
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: normal !important;
}
@media(max-width: 768px){
    .font-18{
    font-size: 15px !important;
    line-height: 20px !important;
    font-weight: normal !important;
}
}
@media(min-width: 768px){
    .up-margin{
        margin-top: -55px;
    }
}
.arrow-pos {
      width: 17%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 25px;
    }
  @media(max-width: 768px){
      .arrow-pos {
          width: 8%;
    }
  }
  .bg-image {
            background-image: url(http://i.imgur.com/uC6fayY.jpg);
        }

        @media (max-width: 767px) {
            .bg-image {
                background-image: url(http://i.imgur.com/uC6fayY.jpg);
            }
            
            ul.list-with-icons li {
                padding-bottom: 2px !important;
            }
        }

        .caption-text {
            border: rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            font-size: 15px;
            padding: 10px;
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
        
        #carousel .carousel-inner>.item>.caro, .carousel-inner>.item>a>img {
            height:700px;
        }
        .content-carousel {
            min-height: 450px;
        }
        @media(max-width:720px){
            #carousel .carousel-inner>.item>.caro, .carousel-inner>.item>a>img {
                height: 450px;
            }
            .content-carousel {
                height: 380px!important;
                min-height: 380px!important;
            }
        }
.panel {
    border: none;
    border-radius: 0 !important;
}
.content-carousel {
    margin-top: -25px;
}
@media (max-width: 720px){
.content-carousel {
    height: 640px!important;
    min-height: 640px!important;
}
}
@media (max-width: 720px){
#carousel .carousel-inner>.item>.caro, .carousel-inner>.item>a>img {
    height: 670px;
}
}
@media (max-width: 768px){
.carousel-inner {
    height: 700px;
}
}
</style>
{% endblock %}
{% block sub_nav %}{% endblock sub_nav %}
{% block nav %}
        {% include 'includes/nav/_navigation.html' with search_form=True regular_layout=True placeholder=search_placeholder tutor_registration_view=True display_help=True %}
{% endblock nav %}
{% block mobile_navigation %}
    {# {% cache 1000 smart_nav request.user.email %} #}
    {% include "includes/nav/mobile/smart-nav.html" with btnn=True display_sidebar=True %}
    {# {% endcache %}     #}
{% endblock mobile_navigation %}
{% block data-ride %}data-ride="carousel"{% endblock data-ride %}
{% block carousel_image %}
    {% if request.is_phone %}
        <div class="item active">
            <div class="caro bg-image"></div>
        </div>
    {% else %}
        <div class="item active">
            <div class="caro bg-image"></div>
        </div>
    {% endif %}
{% endblock carousel_image %}
{% block carousel_content %}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-5 row ">
            
            <div class="panel col-sm-12">
                    
                    <div id="book" class="row">           
                        <div class="panel-head col-sm-12">
                            <div class="package">
                                <div class="headtext font-head blue-font">                                    
                                Book online lessons.
                                </div>
                                <div class="subtext">                                    
                                Hire expert Nigerian teachers for K-12 Math, English & Science
                                </div>
                                <hr style="margin-bottom: 0px">
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom:5px">  
                    
                    <div class="hide">
                        Thank you.<br><br>
                        Your request has been received and will be processed shortly. Expect an email from us. Also, feel free to send us an email at <a href="mailto:info@tuteria.com">info@tuteria.com</a><br><br>
                        Tuteria Team.<br><br>
                    </div>
                    <form action="{{ request.path }}" method="post" id="base_request_form" novalidate>
                        {% csrf_token %}
                        
                        <div class="row">
                            
                            <div class="col-xs-5 col-sm-6 col-md-6">
                                <div class="form-group {% if form.no_of_students.errors %}has-error{% endif %}">
                                    {{ form.no_of_students|add_attributes:"class:form-control input-sm,required:true" }}
                                    {% if form.no_of_students.errors %}
                                    <span class="help-block">{{ form.no_of_students.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                </div>
                    
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-6">           
                                <div class="form-group {% if form.class_of_child.errors %}has-error{% endif %}">
                                    {{form.class_of_child|add_attributes:"class:form-control input-sm,required:true"}}
                                    {% if form.class_of_chile.errors %}
                                    <span class="help-block">{{ form.class_of_chile.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">           
                                <div class="form-group {% if form.country.errors %}has-error{% endif %}">
                                    {{ form.country|add_attributes:"class:form-control input-sm,required:true, data-parsley-error-message:Please select start time" }}
                                    {% if form.country.errors %}
                                    <span class="help-block">{{ form.country.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                </div>
                    
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group {% if form.country_state.errors %}has-error{% endif %}">
                    
                                    {{ form.country_state|add_attributes:"class:form-control input-sm,required:true, data-parsley-error-message:Enter your name,placeholder:State/Province" }}
                    
                                    {% if form.country_state.errors %}
                                    <span class="help-block">{{ form.country_state.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                </div>            
                            </div>
                        </div>
                        
                         <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">           
                                <div class="form-group {% if form.the_timezone.errors %}has-error{% endif %}">
                                    {% autoescape off %}
                                    {{ form.the_timezone|add_attributes:"class:form-control input-sm,required:true, data-parsley-error-message:Please select start time"|safe }}
                                    {% endautoescape %}
                                    {% if form.the_timezone.errors %}
                                    <span class="help-block">{{ form.the_timezone.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                </div>
                        </div>
                        </div>
                        <hr style="margin-top:10px; margin-bottom:10px">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                    
                                    {{ form.first_name|add_attributes:"class:form-control input-sm,required:true, data-parsley-error-message:Enter your name,placeholder:First Name" }}
                    
                                    {% if form.first_name.errors %}
                                    <span class="help-block">{{ form.first_name.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                </div>            
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group {% if form.online_id.errors %}has-error{% endif %}">
                    
                                    {{ form.online_id|add_attributes:"class:form-control input-sm,required:true,data-parsley-error-message:Enter your name,placeholder:Skype ID" }}
                    
                                    {% if form.online_id.errors %}
                                    <span class="help-block">{{ form.online_id.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                </div>            
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <input type="hidden" id="pk" name="pk" value={{ instance_pk }}>
                        {% endif %}
                    
                        <div class="form-group {% if form.email.errors %}has-error{% endif %}" style="margin-bottom: -10px; border-radius: 1px; height: 40px">
                            {{ form.email|add_attributes:"class:form-control,required:true,data-parsley-error-message:Please enter your email,placeholder:Your Email" }}
                            {% if form.email.errors %}
                            <span class="help-block">{{ form.email.errors|join:"<br \>" }}</span>
                            {% endif %}
                        </div>
                        
                        <div class="form-group {% if form.expectation.errors %}has-error{% endif %} padding-top-25" style="margin-bottom: -10px;">
                            {{ form.expectation|add_attributes:"class:form-control input-sm,required:true, data-parsley-error-message:Please input your expectations,placeholder:Tell us what your goals are so we can match you with the right instructor,rows:3" }}
                            {% if form.expectation.errors %}
                            <span class="help-block">{{ form.expectation.errors|join:"<br \>" }}</span>
                            {% endif %}
                            
                        </div>
                        
                        <div class="form-group padding-top-25">
                            <button id="submit_btn" data-loading-text="Loading..."
                            class="btn btn-lg btn-block btn-primary big-btn"
                            >{% trans "Next Step" %} &rarr;</button>
                        </div>
                    </form> 
                    </div>              
                    </div>
            
        </div>
    </div>
{% endblock carousel_content %}
{% block main_content %}
{% block press %}
{% endblock press%}
{% block safety %}
<section class="row white-bg">
        <div class="container side_by_side">
        <hr style="margin:0">
            {% include "includes/achievments.html" with clickable=True %}
        <hr class="hr-styled "style="margin:0">
        </div>
    </section>

<section id="firstss" class="padding-bottom-50 padding-top-25 padding-top-mob-0 row">
    <div class="container mobile-top-25 no-padding-total">
    <div class="row padding-bottom-50">
        <div id="how-it-works" class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 padding-top-50 padding-bottom-25 wrapper-full clearfix text-center">
            <h2 class="font-head">
                <b>Join 100s of families using Tuteria</b>
            </h2>
        </div>
        <div class="icon-box-6">            
            <div class=" col-sm-4 col-md-4 row-space-4">
             <div class="icon-box-6-item text-center">                    
                     <i class="pro-img"></i>
                     <h3 class="text-center">
                      {% if request.is_featured %}
                      <b>1. High Quality Teachers</b>
                      {% else %}
                      1. High Quality Teachers
                      {% endif %}
                      <br></h3>
                    <span class="inline-block">Each tutor is trained in the British or American Curriculum, and well-experienced at teaching kids.
                    </span>
                </div>                
            </div>            
            <div class=" col-sm-4 col-md-4 row-space-4">
                <div class="icon-box-6-item text-center">     
                    <i class="budget-img"></i>               
                        <h3 class="text-center">
                          {% if request.is_featured %}
                          <b>2. Safe and Trusted</b>
                          {% else %}
                          2. Safe and Trusted
                          {% endif %}
                          <br></h3>
                        <span class="inline-block">Trusted by 100s of happy clients for their kids' tutoring needs with more than 90% success rate.        
                        </span>
                </div>               
            </div>
            
            <div class=" col-sm-4 col-md-4 row-space-4">                
                <div class="icon-box-6-item text-center">  
                <i class="learn-img"></i>                  
                     <h3 class="text-center">
                      {% if request.is_featured %}
                      <b>3. Learning at Kid's Pace</b>
                      {% else %}
                      3. Learning at Kid's Pace
                      {% endif %}
                      <br></h3>
                    <span class="inline-block">Classroom teaching can leave your kids behind. We help them learn, understand & stay ahead.
                    </span>
                </div>
            </div> 
            <div class="padding-top-50 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="media ">
                            <div class="media-photo media-round pull-left text-center">
                                <img height="80" class="img-circle"
                                     src="{% static "img/user/alice.jpg" %}" width="80">
                            </div>
                            <div class="media-body">
                                <div class="panel panel-quote panel-light">
                                    <div class="panel-body">
                                        <p>The lessons have been very productive. My son's grades have really improved, and even his school teachers comment on his new confidence. He now answers questions in class, and scores higher than most of his class mates. His tutor keeps to time & they bonded well together. I've already recommended Tuteria to some friends.
                                        </p>

                                        <p class="text-muted">
                                            <span class="person pull-left">Alice Onuoha (Mrs.)</span>
                                            <span class="location pull-right">2 Months Lessons</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media ">
                            <div class="media-photo media-round pull-left text-center">
                                <img height="80" class="img-circle"
                                     src="http://i.imgur.com/JgwHKoc.jpg" width="80">
                            </div>
                            <div class="media-body">
                                <div class="panel panel-quote panel-light">
                                    <div class="panel-body">
                                        <p>
                                            1. I like that Esther takes her time to understand the child's strengths and challenges before she strategisizes the focus areas. 2. She is dilligent and focused and wants to see children succeed 3. She is technically very sound to teach the British curriculum for year 2 (my child's class) 4. She is always on time 5. Esther teaches. She explains the logic behind everything so that way, the child learns. 6. She takes her time to understand the unique way a particular child learns. Im looking forward to my son improving in school.
                                        </p>

                                        <p class="text-muted">
                                            <span class="person pull-left">Jemimah Waititu (Mrs.)</span>
                                            <span class="location pull-right">3 Months Lessons</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media ">
                            <div class="media-photo media-round pull-left text-center">
                                <img height="80" class="img-circle"
                                     src="{% static "img/user/rosemary.jpg" %}" width="80">
                            </div>
                            <div class="media-body">
                                <div class="panel panel-quote panel-light">
                                    <div class="panel-body">
                                        <p>Besidone takes her time to explain to my kids, she builds in them the confidence they need to be able to understand each topic she teaches. She uses teaching aids to make the subject easier for them to learn and understand especially numbers. She keeps to time. I will recommend this tutor to clients for the above reasons and because my kids are gradually improving in the subjects she is taking them, especially the numbers.
                                        </p>

                                        <p class="text-muted">
                                            <span class="person pull-left">Rosemary Ajato (Mrs.)</span>
                                            <span class="location pull-right">6 Months Lessons</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="text-center padding-top-50">
                <div class="col-sm-8 col-sm-offset-2">                    
                    {% if not request.is_featured %}
                    <a href="javascript:void(0)" class="scrollable-link btn btn-primary btn-lg col-xs-12 big-btn">
                        Get an expert tutor
                    </a>
                {% else %}
                    <a href="#book" class="scrollable-link btn btn-primary btn-lg col-xs-12 big-btn">
                        Get an expert tutor
                    </a>
                {% endif %}
                </div>
                <img src="{% static "img/gallery/booster.png" %}" class="padding-top-25">
            </div>
            </div>           
        </div>
    </div>
        
        </div>
</section>
{% endblock safety %}
{% block howitworks %}{% endblock howitworks %}
{% block learn %}{% endblock learn %}
    {% block testimonials %}
    
{% endblock testimonials %}
{% block more_info %}
{% endblock more_info %}
{% block quality %}

<section id="one-on-one-fourth" class="padding-top-25 padding-bottom-50 row white-bg">
        <div class="container side_by_side">
            <div class="row">           
                <div class="col-sm-12 icon-content space-for-mobile-20">
                    <h2 class="padding-bottom-20">
                        {% if request.is_featured %}<b>Questions our clients asked</b>
                        {% else %}Questions our clients asked{% endif %}
                    </h2>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="faq-item">
                                <div class="question-bullet">Q:</div>
                                <div class="faq-question">
                                    <div class="question-value">
                                    {% if not request.is_featured %}Where will the lessons hold?{% else %}<b>Where will the lessons hold?</b>{% endif %}</div>
                                    <div class="answer-value">For kids outside Nigeria, lessons are delivered online via Skype at the time agreed by both parties. Subjects covered include Math, English, Science, Local Languages & Nigerian History. Within Nigeria, lessons can hold in the comfort of your home or online.</div>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="question-bullet">Q:</div>
                                <div class="faq-question">
                                    <div class="question-value">{% if not request.is_featured %}How much does it cost?{% else %}<b>How much does it cost?</b>{% endif %}</div>
                                    <div class="answer-value">Online lessons with an expert K-12 teacher are charged at 20 - 25 USD per hour. However, by subscribing to a package, you can pay as low as 15 - 18 USD/hr and each extra student attracts a discount of 50%. Note that you can break your lessons into 30 - 45 mins sessions, depending on your schedule.
                                    </div>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="question-bullet">Q:</div>
                                <div class="faq-question">
                                    <div class="question-value">{% if not request.is_featured %}How do I pay for my lessons?{% else %}<b>How do I pay for my lessons?</b>{% endif %}</div>
                                    <div class="answer-value">You can pay online via PayPal. We also closely monitor the lesson delivery, get feedback and provide support throughout the lessons</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="faq-item">
                                <div class="question-bullet">Q:</div>
                                <div class="faq-question">
                                    <div class="question-value">{% if not request.is_featured %}How do you ensure quality and safety?{% else %}<b>How do you ensure quality and safety?</b>{% endif %}</div>
                                    <div class="answer-value">Each tutor has undergone various screening phases including offline and online identity verification, teaching & curriculum experience, subject competency tests and guarantors. Only the top performers were interviewed and the very bests were hand-picked. </div>
                                    <br>
                                    <div class="answer-value">Beyond that, clients also rate tutors' performance and tutors whose overall rating falls below 70% are not allowed to continue. So your tutor will either be newly approved or have been rated above 70% by previous clients.</div>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="question-bullet">Q:</div>
                                <div class="faq-question">
                                    <div class="question-value">{% if not request.is_featured %}Is there a Refund Policy or Guarantee?{% else %}<b>Is there a Refund Policy or Guarantee?</b>{% endif %}</div>
                                    <div class="answer-value">Yes there is. If you're not fully satisfied with the lessons, we will replace the tutor at no cost to you or refund your balance. We keep our words.</div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
</section>
{% endblock quality %}
{% endblock %}
{% block request_section %}
                <div id="launch-section">
                <!-- Request a Tutor Section -->
                <div class="row padding-top-50 text-center padding-bottom-50 deepblue-bg space-bottom-mob-20 padding-top-mob-30">
                    <a href="javascript:void(0)" class="scrollable-link"><h3 style="color:white">Put your kids ahead</h3></a>
                    <br>
                    <div>
                        <div class="request-box" >
                            <div class="request-icon" style="padding-right: 50px; padding-left: 50px">
                                <div class="request-icon-img">
                                    <img src="{% static 'img/tutor/call.png' %}" class="img-responsive center-block"
                                         style="width:30px"/>
                                </div>
                                <div style="display: inline-block">
                                        <span class="request-call-icon">
                                            <small style="color:aqua">{{ tuteria_details.email }}</small>
                                        </span>
                                        <span class="request-phone font-head">
                                            {{ tuteria_details.phone_number }}
                                        </span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                    <div id="map-canvas" class="hidden"></div>
{% endblock request_section %}
{% block referral %}{% endblock referral %}

{% block javascript %}
    {{ block.super }}

    {% block google_map_script %}
        <script src="{% static 'js/home.bundle.js' %}"></script>   
    <script src="{% static 'js/request_form1.bundle.js' %}"></script>

        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&region=NG&key=AIzaSyAkEDJcOnQRw9sDDENqa4zeAvLMmD35_fk&callback=initializeCallback"></script>
        <!-- Facebook Conversion Code for Visitors to the How it works Page -->
    <script>(function () {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6034107104155', {'value': '0.00', 'currency': 'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none"
                   src="https://www.facebook.com/tr?ev=6034107104155&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1"/>
    </noscript>

    <!-- Twitter Conversion Code for Visitors to the How it works Page -->

    <!-- <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">twttr.conversion.trackPid('l6lg6', {
        tw_sale_amount: 0,
        tw_order_quantity: 0
    });</script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt=""
             src="https://analytics.twitter.com/i/adsct?txn_id=l6lg6&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0"/>
        <img height="1" width="1" style="display:none;" alt=""
             src="//t.co/i/adsct?txn_id=l6lg6&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0"/>
    </noscript> -->

    {% endblock google_map_script %}
    


{% endblock %}

