{% extends "pages/terms.html" %}
{% block content %}
	<div class="container">
  <div class="row-space-top-6 row-space-16 padding-bottom-50">
            <h1>Tutor payment policies</h1>
	    <p>
		    By registering as a tutor with Tuteria ("the website," "website," "Tuteria.com"), you (“tutor”) agree that the following terms and conditions will govern all payments made to you by clients through the Tuteria system. 
	    </p>
	    <h3>Conditions for guaranteeing receipt of payment for client lessons</h3>
	    <p>
		    Tuteria is a marketplace for those seeking tutoring services to connect with those seeking to provide tutoring services.  Tuteria also provides a pass-through payment processing service to its users, meaning that payments distributed to tutors originate from their clients. Tuteria offers tutors a layer of protection in the collection of their funds but, if any of the following conditions are not met and Tuteria becomes unable to collect your payment from the parent, client, or other type of account-holder (collectively, "client") to whom you gave a lesson, Tuteria cannot guarantee that your payment will be successfully collected, processed and distributed to you:
	    </p>
	    <p>
		    a) <u>The information pertaining to the lesson is accurate</u>. This includes the start and end time, duration, subject and client account name. Unless otherwise agreed to by the tutor and client, the start and end time will be considered to be the times of the actual tutoring lesson, not arrival and departure times to and from the tutoring location.
	    </p>
	    <p>
		    b) <u>Prior to each lesson being given, the client has paid in full using the Tuteria payment system</u>. This includes payment via a valid credit/debit card, PayPal account, Paga account, bank payment or a positive balance of prepaid tutoring credit. The tutor can view the status of the client's payment information through the tutor's Tuteria account. The requirement to make upfront payments for all lessons must be followed for continuing clients as well as new clients.
	    </p>
	    <p>
		    c) <u>The lesson is delivered in-person at a mutually agreed upon location </u>.
            If the lesson is delivered remotely through another medium, such as via the internet, email, telephone or Skype, or in the instance when the tutor does proofreading or other asynchronous, non-tutoring work with the client, the tutor must obtain written confirmation from the client to Tuteria email address, info@tuteria.com, that acknowledges the nature of the work to be done and the expectations of the time and cost required to complete the work. 
	    </p>
	    <p>
		    d) <u>The tutor's services are instructive and constitute learning, not cheating</u>. More specifically, the tutor is not to complete assignments, write papers, take quizzes or otherwise do work on the client's behalf. Further, the services that the tutor offers must not violate the academic honesty policy or other conduct policies of the client's school, university, academic institution or workplace.
	    </p>
	    <p>
		    e) <u>The tutor enters the lesson taught into the Tuteria system
</u>. Payment for lessons not entered into the system cannot be processed. Clients will have up to 3 days to confirm lessons or raise complaints after which payments shall be processed. 
	    </p>
	    <p>
		    f) <u>Prior to a lesson being given, the tutor has received a Tuteria subject approval for
                the specific subject area of the lesson</u>.
	    </p>
	    <p>
		    g) <u>The tutor does not collect or request payment directly from the client by cash, cheque or otherwise, for the lesson</u>.
	    </p>
	    <p>
		    h) <u>For cancellation fees assessed to a client, the cancellation penalty is both
                consistent with the cancellation policy publicly displayed on the tutor's profile
                and is explained to the client prior to the occurrence of the cancellation</u>.
	    </p>
	    <p>
		    i) <u>The tutor is over 18 years old and is eligible to work in Nigeria</u>.
	    </p>
	    <h3>Timing and delivery of payments</h3>
	    <p>
		    If all the <i>Conditions for guaranteeing receipt of payment for client lessons</i> are met, tutors can expect to receive their funds according to the following schedule. If there are questions about any of the conditions, payments may be delayed while Tuteria attempts to resolve the questions. 
	    </p>
	    <p>
		    a) By default, a tutor is paid by electronic transfer to the tutors Paga account on file. Tutors can request withdrawals at any time.  
	    </p>
	    <p>
		    b) For a tutor who elects to sign up for Direct Deposit and enters accurate bank account and routing numbers, funds will be released to the tutor's bank according to the same schedule as in part a). The time between when the funds are released by Tuteria and made available to the tutor by the tutor's bank will vary and is controlled by the tutor's bank, not by Tuteria. If a tutor's direct deposit is returned to Tuteria by the tutor's bank, Tuteria will request that the tutor correct the tutor’s bank information. The returned payment amount will be resent within five (5) days after the bank information is corrected.
	    </p>
	    
	    <h3>Calculation of tutor payment amounts</h3>
	    <p>
		    a) <u>Tutors set their own hourly rate and may change it at any time</u>. Changing the default hourly rate will affect clients who hire a tutor <u>after</u> the time the change is made. Clients who have been in contact with a tutor within three months prior to the time the rate change is made will be continue to be subject to the hourly rate that was listed on the tutor's profile at the time they first contacted the tutor; in order to change the rate for one of these clients, the client must acknowledge the rate change via a rate change request email. 
	    </p>
	    <p>
		    b) <u>All tutors agree to the following commission structure</u>. Tuteria's commission varies inversely with the number of hours accumulated through
            Tuteria, amongst other things as explained in the <a href="/levels" target="_blank">Levels Page</a>.
	    </p>

	    <p>
		    c) <u>Non-tutoring charges should be incorporated into the hourly rate</u>. Travel, parking, prep time or other expenses that you wish to defray to the customer must first be agreed to by the client. The mechanism to assess these charges is to adjust your hourly rate. Under no circumstances should the tutor receive payments directly from the client.
	    </p>

  </div>
</div>
{% endblock content %}