{% extends "pages/terms.html" %}
{% block content %}
    <div class="container">
        <div class="row-space-top-6 row-space-16 padding-bottom-50">
            <h2 class="code-line" data-line-start="239" data-line-end="240"><a id="Privacy_Policy_239"></a>Privacy Policy</h2>

            <p><b>Last updated on July 29, 2020.</b></p>

            <p class="has-line-data" data-line-start="241" data-line-end="242">This Privacy Policy (the “Policy”) is designed to
                help you understand how Tuteria Limited (“Tuteria” “Us’, “Our” or “We”) collect, transmit, and store information
                about our Users. The term “you” or “You” or “User” or “Users” shall refer to Clients, Tutors or any person or
                entity who views, uses, accesses, browses or submits any content or material to the Platform (defined below).
                Providing your information is voluntary and your use of the Platform after the effective date of this Policy
                constitutes your acceptance of this Privacy Policy. If you do not agree to all the terms and conditions of this
                Privacy Policy, do not use or access the Platform.</p>
            <h3 class="code-line" data-line-start="243" data-line-end="244"><a id="Information_we_collect_243"></a>Information
                we collect</h3>
            <p class="has-line-data" data-line-start="245" data-line-end="246">This Privacy Policy applies only to information
                we collect via e-mail, telephone, the website (“Site”), mobile applications, electronic devices and other
                interactive services, including any mobile applications, web applications, affiliated websites and services (the
                “Platform”). In order to help you get the most out of our service, we collect User submitted personally
                identifiable information (“PII”) when you use the Platform. We ask Users only to submit the minimum amount of
                information necessary to use our service. Such information may include your name, address, password, zip code,
                email address, account details and phone number for communication purposes. Information may be submitted to the
                Platform or via phone or email when communicating with a Tuteria representative. For Clients and Tutors, we may
                collect information related to your documentation of and payment for tutoring sessions, national identification
                card and date of birth, for tax purposes or to complete a background check. As detailed in the “Data
                Transmission and Storage” section below, we use Secure Socket Layer (SSL) encryption on any page of the Platform
                where we ask you to submit personally identifiable information and encrypt all such information for safe storage
                in our system.</p>
            <p class="has-line-data" data-line-start="247" data-line-end="248">Such data is compiled in aggregate and includes
                things like the referring URL and the type of browser you may be using to access the Platform. This data is used
                to better understand and enhance the User experience on the Platform. Tuteria may publish these statistics or
                share them with third parties only for purposes relevant to the objectives stated in the Terms of Use. You
                hereby grant Tuteria unequivocal and unconditional consent to share your data in the manner stipulated above.
            </p>
            <p class="has-line-data" data-line-start="249" data-line-end="250">User generated content posted through certain
                social networking preferences (e.g. pages you “like” or “follow”) may be viewed by the general public.
                Accordingly, Tuteria cannot ensure the privacy of any personal identifiable information (PII) included in such
                User generated content and you understand that you use this Platform at your own risk.</p>
            <h3 class="code-line" data-line-start="251" data-line-end="252"><a id="Data_Transmission_and_Storage_251"></a>Data
                Transmission and Storage</h3>
            <p class="has-line-data" data-line-start="253" data-line-end="254">Tuteria uses industry-standard 128-bit SSL
                encryption when collecting and transmitting your information through the Platform and the Tuteria network
                (collectively, the “System.”) Once information has been collected, we encrypt sensitive data in our database for
                added security. Tuteria also uses firewalls and hardware monitoring across our System to protect against
                unauthorized access. Unfortunately, even with these measures, Tuteria cannot guarantee the security of PII. By
                using the Platform , you acknowledge and agree that Tuteria makes no such guarantee, and that you use the
                Platform at your own risk.</p>
            <h3 class="code-line" data-line-start="255" data-line-end="256"><a id="Financial_information_255"></a>Financial
                information</h3>
            <p class="has-line-data" data-line-start="257" data-line-end="258">If you elect to pay for tutoring lessons or a
                background check with a credit card, we do not store your card details including your name, credit card number,
                and expiration date associated with the account. All financial information is collected and encrypted by the
                third-party payment processor used on the Platform .</p>
            <h3 class="code-line" data-line-start="259" data-line-end="260"><a id="Use_of_cookies_259"></a>Use of cookies</h3>
            <p class="has-line-data" data-line-start="261" data-line-end="262">Tuteria uses cookies to help create a better User
                experience. A cookie is a small text file that is sent to your browser from a web server and may be stored on
                your computer’s hard drive. Tuteria uses cookies to better customize your experience on the Platform based on
                User attributes like your location and account preferences. No personally identifiable information is stored in
                our cookies. While you may elect to disable or delete cookies from your browser at any time, please note that
                this action may limit your use of Tuteria services that require cookies. You also can control advertising
                cookies from Google, by using its Ads Preference Manager. Please note that to the extent advertising technology
                is integrated into the Platform, you may still receive advertisements even if you opt-out of tailored
                advertising. You can, however, block cookies by activating the setting on your browser that allows you to refuse
                the setting of all or some cookies. However, if you use your browser settings to block all cookies (including
                essential cookies) you may not be able to access all or parts of our website.</p>
            <p class="has-line-data" data-line-start="263" data-line-end="264">We use the following cookies:</p>
            <p class="has-line-data" data-line-start="265" data-line-end="266">Strictly necessary cookies. These are cookies
                that are required for the operation of our Platform. They include, for example, cookies that enable you to log
                into secure areas of our Platform, use a shopping cart or make use of e-billing services.</p>
            <p class="has-line-data" data-line-start="269" data-line-end="270">Analytical or performance cookies. These allow us
                to recognise and count the number of visitors/Users and to see how visitors/Users move around our Platform when
                they are using it. This helps us to improve the way our Platform works, for example, by ensuring that Users are
                finding what they are looking for easily.</p>
            <p class="has-line-data" data-line-start="273" data-line-end="274">Functionality cookies. These are used to
                recognize you when you return to our Platform. This enables us to personalize our content for you, greet you by
                name and remember your preferences (for example, your choice of language or region).</p>
            <p class="has-line-data" data-line-start="277" data-line-end="278">Targeting cookies. These cookies record your
                visit to our Platform, the pages you have visited and the links you have followed. We will use this information
                to make our Platform and the advertising displayed on it more relevant to your interests. You also understand
                and agree that we may share this information with third parties for this purpose.</p>
            <h3 class="code-line" data-line-start="279" data-line-end="280"><a id="Online_tracking_279"></a>Online tracking</h3>
            <p class="has-line-data" data-line-start="281" data-line-end="282">Some browsers allow you to indicate that you
                would not like your online activities tracked, using “do not track” indicators (“DNT Indicators”), however, we
                are not obligated to respond to these</p>
            <p class="has-line-data" data-line-start="283" data-line-end="284">indicators. Presently, we are not set up to
                respond to DNT Indicators. This means that while the Platform may track certain latent information about your
                online activities, the collected information will be used to improve your use of our Platform and in ways
                consistent with the provisions of this Privacy Policy.</p>
            <h3 class="code-line" data-line-start="285" data-line-end="286"><a
                    id="Use_of_Personally_Identifiable_Information_285"></a>Use of Personally Identifiable Information</h3>
            <p class="has-line-data" data-line-start="287" data-line-end="288">Tuteria does not disclose or sell your PII
                without your consent. We may use PII or other personal information you specifically give to us: a) to provide
                services to you through the System, b) to process transactions and billing, c) for identification and
                authentication purposes, d) to communicate with you concerning the System, transactions, security, privacy and
                administrative issues relating to your use of the System, e) to improve your response to and interaction with
                the System, f) to do something you have asked us to do, or tell you of services that we think may be of interest
                to you; and g) for administration of and troubleshooting regarding the System. Certain third parties who provide
                technical support for the operation of the System may need access to such information from time to time but are
                not permitted to disclose such information to others. Tuteria shares a minimum amount of information between
                tutors and Clients in order to facilitate the arrangement of tutoring sessions. We reserve the right to release
                non-personally identifiable information collected in aggregate, however subject to the use as reserved in this
                Terms.</p>
            <h3 class="code-line" data-line-start="289" data-line-end="290"><a id="Minors_289"></a>Minors</h3>
            <p class="has-line-data" data-line-start="291" data-line-end="292">Tuteria does not knowingly collect personally
                identifiable information from children under the age of 13. If you are under the age of 13, please do not
                provide your contact information or any other personally identifiable information to Tuteria. If you are the
                parent or legal guardian of someone under the age of 13 who may have provided us with information without your
                knowledge or consent, please contact us to have this information removed. Pending this notification in the
                foregoing, you understand that Tuteria has not knowingly collected the information from the minor and you
                undertake not to institute any legal action against Tuteria in respect of such collection. All contacts,
                including tutoring sessions, between a tutor and any minor should, of course, take place only in a supervised
                setting.</p>
            <h3 class="code-line" data-line-start="293" data-line-end="294"><a
                    id="Legal_requests_and_business_transfers_293"></a>Legal requests and business transfers</h3>
            <p class="has-line-data" data-line-start="295" data-line-end="296">Tuteria may disclose personal information when we
                believe such action is necessary to comply with the law or enforce or apply our Terms of Service. We however
                undertake not to disclose such personal information except in full compliance with the relevant laws of the
                federal republic of Nigeria. In the event of a change in control of Tuteria’s business, personal information may
                be exchanged as part of a merger, sale, or other business transfer. If such a transfer makes a material change
                to this Privacy Policy, we will notify you of any changes.</p>
            <h3 class="code-line" data-line-start="297" data-line-end="298"><a id="Your_choices_297"></a>Your choices</h3>
            <p class="has-line-data" data-line-start="299" data-line-end="300">Please remember to help keep the Platform secure
                by never sharing your username or password. If you think your password may have been compromised, please change
                it immediately or contact Tuteria for additional assistance.</p>
            <p class="has-line-data" data-line-start="301" data-line-end="302">Tuteria may send you email communications
                periodically detailing new features or promotions on the Platform . You may unsubscribe from these messages by
                using the link at the bottom of the email. We may also send you email messages about the status of your account
                or any notices</p>
            <p class="has-line-data" data-line-start="303" data-line-end="304">as required by law. You may not opt-out of
                receiving these administrative emails so long as you continue to use this voluntary service. If you wish to
                terminate your account, please contact us.</p>
            <h3 class="code-line" data-line-start="305" data-line-end="306"><a id="User_Data_retention_305"></a>User’ Data
                retention</h3>
            <p class="has-line-data" data-line-start="307" data-line-end="308">We will only retain your data for as long as
                reasonably necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any
                legal, regulatory, tax, accounting or reporting requirements. We may retain your data for a longer period in the
                event of a complaint or if we reasonably believe there is a prospect of litigation in respect to our
                relationship with you. To determine the appropriate retention period for User data, we consider the amount,
                nature and sensitivity of the personal data, the potential risk of harm from unauthorised use or disclosure of
                your personal data, the purposes for which we process your data and whether we can achieve those purposes
                through other means, and the applicable legal, regulatory, tax, accounting or other requirements.</p>
            <h3 class="code-line" data-line-start="309" data-line-end="310"><a id="Privacy_policy_changes_309"></a>Privacy
                policy changes</h3>
            <p class="has-line-data" data-line-start="311" data-line-end="312">Tuteria reserves the right to change this Privacy
                Policy, from time to time, due to modifications to the Platform’s features and functionality. We will post any
                changes here and indicate the new effective date of the Privacy Policy at the top of the document. We encourage
                you to review the Privacy Policy for any updates while you are an active User of the Platform.</p>
            <h3 class="code-line" data-line-start="313" data-line-end="314"><a id="Users_Outside_Nigeria_313"></a>Users Outside
                Nigeria</h3>
            <p class="has-line-data" data-line-start="315" data-line-end="316">The Platform is hosted in Nigeria and is governed
                by Nigerian law. If you are using the Platform from outside Nigeria, please be aware that your information may
                be transferred to, stored and processed in Nigeria where our servers are located and our databases are operated.
                The data protection and other laws of Nigeria and other countries might not be as comprehensive as those in your
                country. By using the Platform, you consent to your information being transferred to our facilities and to the
                facilities of those third parties with whom we share it as described in our Privacy Policy.</p>
            <h3 class="code-line" data-line-start="317" data-line-end="318"><a id="Contact_information_317"></a>Contact
                information</h3>
            <p class="has-line-data" data-line-start="319" data-line-end="320">Questions regarding this Privacy Policy should be
                directed to <a href="mailto:info@tuteria.com">info@tuteria.com</a>.</p>
        </div>
    </div>
{% endblock content %}