{% extends 'pages/why-use.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles i18n bootstrap3 add_attr activelink cloudinary %}
{% block css %}
    {{ block.super }}
    {# <link href="{% static 'css/request_tutor.css' %}" rel="stylesheet"> #}

    <style>
        body {
            font-size: 14px;
        }

        .content-carousel {
            margin-top: 0 !important;
        }

        .margin-down-5 {
            margin-bottom: 7px !important;
        }

        .pad-down-20 {
            padding-bottom: 20px;
        }

        .img-resized {
            width: 40px;
        }

        .hr-styled {
            margin-top: 20px;
        }

        @media (min-width: 768px) {
            .padding-left-50 {
                padding-left: 50px;

            }
        }

        .resume-block {
            position: relative;
            padding-left: 100px
        }

        @media (max-width: 768px) {
            .resume-block {
                padding-left: 0px
            }
        }

        .resume-block .img-profile {
            position: absolute;
            left: 0;
            z-index: 2;
            top: 0
        }

        @media (max-width: 768px) {
            .resume-block .img-profile {
                position: relative;
            }

            .center-img {
                margin: 0 auto;
                display: block;
                padding-top: 10px;
                text-align: center;
            }
        }

        .desc-spacing {
            padding-left: 25px;
        }

        @media (max-width: 768px) {
            .desc-spacing {
                padding-left: 0px;
            }
        }

        .rate {
            margin-right: 10px;
            color: #f5be4e;
            font-size: 13px;
        }
        .form-control {
    width: 100%;
    height: 40px;
    border-radius: 1px;
            
        }
    </style>
{% endblock %}
{% block jumbotron %}{% endblock jumbotron %}
{% block title %}Complete your request | Tuteria{% endblock title %}
{% block fixed %}profile-header{% endblock %}
{% block carousel_content %}{% endblock %}
{% block mobile_navigation %}
    {# {% cache 1000 smart_nav request.user.email %} #}
    {% include "includes/nav/mobile/smart-nav.html" with btnn=True display_sidebar=True making_booking=True %}
    {# {% endcache %}     #}
{% endblock mobile_navigation %}
{% block nav %}
    {% include 'includes/nav/_navigation.html' with search_form=False regular_layout=True placeholder=search_placeholder tutor_registration_view=True display_help=True %}
{% endblock nav %}
{% block base77 %}
    <div class="col-md-12 col-lg-10 col-xs-12 col-lg-offset-1 col-xs-offset-0 col-sm-12 col-sm-offset-0">
        {{ block.super }}
    </div>
{% endblock base77 %}
{% block big_section %}
    <div id="content" class="spaced-top-xl spaced-bottom-xl padding-top-50">
        {% if form.errors %}
            <div class="col-sm-12 no-padding-for-xs">
                <div class="row">
                    <div class="well bg-danger">
                        <div class="has-error">
                            Some parts of the form were not filled correctly, please check and submit.
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 no-padding-for-xs">
                <div class="">
                    <div id="wizard-container" class="bordered spaced-bottom-lg">
                        <div class="">
                            <form id="request_parent_form" action="{{ request.path }}"
                                  method="post" novalidate>
                                {% csrf_token %}

                                <div class="panel row-space-4">

                                    <div class="panel-head col-sm-12 row-space-3">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="resume-block">
                                                    <div class="img-profile">
                                                        <img height="100" class="img-circle"
                                     src="http://i66.tinypic.com/209r9qd.jpg" width="100">
                                                    </div>
                                                    <div class="desc">
                                                        {% if specific_skill %}
                                                            <div class="desc-spacing">
                                                                <h2>{{ object.first_name | title }} <span
                                                                        class="h5 brightgreen">(ID Verified)</span></h2>
                                                                <h4 class="font-head">{{ specific_skill.heading }}</h4>
                                                                <ul class="list-inline list-unstyled">
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i> {{ object.location }}
                                                                    </li>
                                                                    {% if specific_skill.reviews|length > 0 %}
                                                                        <li>
                                                        <span class="rate">
                                                            {% for star in specific_skill.rating_integer %}
                                                                <i class="fa fa-star"></i>
                                                            {% endfor %}
                                                            {% if specific_skill.rating_decimal %}
                                                                <i class="fa fa-star-half-o"></i>
                                                            {% endif %}
                                                        </span>
                                                                            ({{ specific_skill.reviews.count }}
                                                                            Review{{ specific_skill.reviews.count|pluralize }})
                                                                        </li>
                                                                    {% endif %}
                                                                </ul>
                                                            </div>
                                                        {% else %}
                                                            <div class="desc-spacing">
                                                                <h2>Linda <span
                                                                        class="h5 brightgreen">(ID Verified)</span></h2>
                                                                <h4 class="font-head">I am a prolific Arabic Teacher</h4>
                                                                <ul class="list-inline list-unstyled">
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i> Lekki, Lagos
                                                                    </li>
                                                                    {% if object.my_reviews|length > 0 %}
                                                                        <li>
                                                          <span class="rate">
                                                            {% for star in object.rating_integer %}
                                                                <i class="fa fa-star"></i>
                                                            {% endfor %}
                                                              {% if object.rating_decimal %}
                                                                  <i class="fa fa-star-half-o"></i>
                                                              {% endif %}
                                                        </span>
                                                                            ({{ object.my_reviews.count }}
                                                                            Review{{ object.my_reviews.count|pluralize }})
                                                                        </li>
                                                                    {% endif %}
                                                                </ul>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="row hr-styled">
                                    </div>

                                    <div class="panel-body ">
                                        <div class="{% if form.possible_subjects|length == 1 or from_skill_page %}hidden{% endif %}">

                                            <h4 class="font-head row-space-4" style="line-height:0">Subjects</h4>
                                            <p class="no-padding-top">Please select any other subject that needs
                                                help</p>

                                            {% if form.possible_subjects.errors %}
                                                <div class="has-error">
                                                    <span class="help-block">{{ form.possible_subjects.errors|join:"<br \>" }}</span>
                                                </div>
                                            {% endif %}
                                            <div class="row row-space-4">
                                                {% for subject in form.possible_subjects %}
                                                    <div class="col-sm-6 col-md-4 checkbox-space">
                                                        {{ subject }}
                                                    </div>
                                                {% endfor %}

                                            </div>
                                            <hr class="row hr-styled padding-bottom-25">
                                        </div>


                                        <h4 class="font-head row-space-4" style="line-height:0">
                                            {% if not request.is_featured %}Lesson details{% else %}
                                                <b>Lesson details</b>{% endif %}
                                        </h4>
                                        <div class="form-group {% if form.days_per_week.errors %}has-error{% endif %}">
                                            <label class="control-label padding-top-10">Please select the days you want
                                                lessons to hold</label><br>
                                            <small class="text-info"><em>For example, if you want lessons 3 times a
                                                week, then check 3 days</em></small>

                                        </div>
                                        <div class="row row-space-4 no-margin-bottom-mob">
                                            {% for weekday in form.available_days %}
                                                <div class="col-sm-4 checkbox-space">
                                                    {{ weekday }}
                                                </div>
                                            {% endfor %}
                                            <br>
                                            {% if form.available_days.errors %}
                                                <div class="has-error">
                                                    <span class="help-block">{{ form.available_days.errors|join:"<br \>" }}</span>
                                                </div>
                                            {% endif %}

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group {% if form.days_per_week.errors %}has-error{% endif %}">
                                                    <label for="id_{{ form.days_per_week.name }}"
                                                           class="control-label margin-bottom-5">For how
                                                        long?</label><br>
                                                    <small class="text-info"><em>If unsure, why not start with 1
                                                        month?</em></small>
                                                    <br>
                                                    {{ form.days_per_week|add_attributes:"class:form-control,required:true" }}
                                                    {% if form.days_per_week.errors %}
                                                        <span class="help-block">{{ form.days_per_week.errors|join:"<br \>" }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group {% if form.time_of_lesson.errors %}has-error{% endif %}">
                                                    <label for="id_{{ form.time_of_lesson.name }}"
                                                           class="control-label margin-bottom-5">What time should
                                                        lessons start?</label><br>
                                                    <small class="text-info"><em>E.g. 4:00pm or 5:30pm</em></small>
                                                    <br>
                                                    {{ form.time_of_lesson|add_attributes:"class:form-control,required:true, data-parsley-error-message:Please set a valid start time, e.g. 5:00pm not 5pm" }}
                                                    {% if form.time_of_lesson.errors %}
                                                        <span class="help-block">{{ form.time_of_lesson.errors|join:"<br \>" }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>


                                            <div class="row-space-4">
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group {% if form.hours_per_day.errors %}has-error{% endif %}">
                                                        <label for="id_{{ form.hours_per_day.name }}"
                                                               class="control-label">{{ form.hours_per_day.label }}</label><br>
                                                        <small class="text-info"><em>If unsure, 2 hours should be
                                                            fine</em></small>
                                                        <br>
                                                        {{ form.hours_per_day|add_attributes:"class:form-control,required:true" }}
                                                        {% if form.hours_per_day.errors %}
                                                            <span class="help-block">{{ form.hours_per_day.errors|join:"<br \>" }}</span>
                                                        {% endif %}
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group {% if form.classes.errors %}has-error{% endif %}">
                                                        <label for="id_subjects" class="control-label margin-bottom-5">Level
                                                            of student(s)</label><br>
                                                        <small class="text-info"><em>E.g. Nursery 2, Basic 4, SSS 2,
                                                            Adult etc.</em></small>
                                                        <br>
                                                        {{ form.classes|add_attributes:"class:form-control" }}
                                                        {% if form.classes.errors %}
                                                            <span class="help-block">{{ form.classes.errors|join:"<br \>" }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12" style="margin-left: 20px">
                                                <div class="checkbox blue-font">
                                                    {{ form.other_tutors }} If {{ object.first_name | title }} is
                                                    unavailable, contact similar tutors (recommended)
                                                </div>
                                            </div>
                                        </div>
                                        
                                      
                                        
                                        

                                        <div class="row row-space-4 pad-up-18">
                                            <div class="col-sm-12">
                                                <button id="submit_btn" data-loading-text="Loading..."
                                                        class="btn btn-lg btn-block btn-primary big-btn pad-up-18"
                                                >{% trans "Get a Price" %}</button>
                                            </div>
                                        </div>
                                        </section>
                                    </div>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
{% block first_request_summary %}
    <div class="col-sm-4 col-xs-12 padding-top-50 mobile-top-25">
        {% block small_section %}
            
        {% endblock %}
        <div class="row panel">
            <div class="panel-body no-padding-total img-resize">
                <div class="media">
                    <div class="">
                        <ul class="fa-ul">
                            {% if specific_skill %}
                                <li class="margin-top-15 font-head"><i
                                        class="fa-li glyphicon glyphicon-bookmark lightblue"></i>{{ specific_skill.skill.name }}
                                </li>
                            {% else %}
                                <li class="margin-top-15 font-head"><i
                                        class="fa-li glyphicon glyphicon-bookmark lightblue"></i>{{ request_instance.request_subjects.0 }}
                                </li>
                            {% endif %}

                            <li class="margin-top-15"><i
                                    class="fa-li glyphicon glyphicon-user lightblue"></i>{{ request_instance.no_of_students }}
                                student{{ request_instance.no_of_students|pluralize }}</li>
                            <!--<li class="margin-top-15"><i class="fa-li glyphicon glyphicon-time lightblue"></i>{{request_instance.hours_per_day}} hour{{request_instance.hours_per_day|pluralize}} per lesson</li>-->
                            <li class="margin-top-15"><i
                                    class="fa-li glyphicon glyphicon-calendar lightblue"></i>Starts {{ request_instance.get_class_urgency_display|lower }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



 <div class="col-sm-3" style="margin-top: 30px;">
                            <div>
                                <div class="row">
                                    <div class="hidden-xs">
                                        <div>
                                            <div class="summary-card col-center">
                                                <div class="summary_card_tozdih">
                                                    <div class="media_172kq57"></div>
                                                </div>
                                                <div class="panel mobile_1t9dcab" style="border: 1px solid rgb(238, 238, 238);">
                                                    <div class="panel-body">
                                                        <div class="host_5jglgk"><span></span></div>
                                                        <div class="heading_1k4vn4h"></div>
                                                        <hr class="hidden-xs" style="margin-bottom: 0px;">
                                                    </div>
                                                    <div>
                                                        <div>
                                                            <div class="panel-body hide-sm hidden-xs">
                                                                <table class="summary_card_ymvvy2">
                                                                    <tbody>
                                                                        <tr class="td_ncx8ah">
                                                                            <td>
                                                                                <!-- react-text: 75 -->12 lessons x 1 month
                                                                                <!-- /react-text -->
                                                                                <!-- react-text: 76 -->
                                                                                <!-- /react-text -->
                                                                            </td>
                                                                            <td class="text-right price-item__price">
                                                                                <div class="">₦0</div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="td_ncx8ah">
                                                                            <td>
                                                                                <!-- react-text: 81 -->Service fee
                                                                                <!-- /react-text --><i class="fa fa-question-circle icon_1bfu94e"></i></td>
                                                                            <td class="text-right price-item__price">₦2000</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <hr style="margin-top: 0px;">
                                                            <div class="panel-body hide-sm">
                                                                <div class="sidebar-text-large space-2">
                                                                    <table class="summary_card_jbk4gr">
                                                                        <tbody>
                                                                            <tr class="td_18og9qv">
                                                                                <td> Total &nbsp; </td>
                                                                                <td class="text-right price-item__price">
                                                                                    <div class="">₦2000</div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="visible-xs panel-body text-center"><a> View pricing and trip summary</a></div>
                                                </div>
                                                <div class="panel" style="margin-bottom: 0px;">
                                                    <div class="hidden">
                                                        <div class="panel-body" style="border: 1px solid rgb(238, 238, 238);">
                                                            <div class="risk-messagebox-pane row row-condensed">
                                                                <div class="va-container va-container-h va-container-v">
                                                                    <div class="col-sm-10">
                                                                        <h4 class="risk-messagebox__title space-top-1">Need Help or Have Questions?</h4>
                                                                        <hr>
                                                                    </div>
                                                                    <div class="va-middle col-sm-2">
                                                                        <div class="img--air-defender-no-overlap text-right"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-10 col-md-12 col-lg-12 risk-messagebox__content">Call us on 09094526878</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hidden-xs">
                                                        <div class="panel-body" style="border: 1px solid rgb(238, 238, 238);">
                                                            <div class="risk-messagebox-pane row row-condensed">
                                                                <div class="va-container va-container-h va-container-v">
                                                                    <div class="col-sm-10">
                                                                        <h4 class="risk-messagebox__title space-top-1">Need Help or Have Questions?</h4>
                                                                        <hr>
                                                                    </div>
                                                                    <div class="va-middle col-sm-2">
                                                                        <div class="img--air-defender-no-overlap text-right"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-10 col-md-12 col-lg-12 risk-messagebox__content">Call us on 09094526878</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="visible-xs">
                                        <div class="summary-card col-center">
                                            <div class="summary_card_tozdih">
                                                <div class="media_172kq57"></div>
                                            </div>
                                            <div class="panel mobile_1t9dcab" style="border: 1px solid rgb(238, 238, 238);">
                                                <div class="panel-body">
                                                    <div class="host_5jglgk"><span></span></div>
                                                    <div class="heading_1k4vn4h"></div>
                                                    <hr class="hidden-xs" style="margin-bottom: 0px;">
                                                </div>
                                                <div>
                                                    <div>
                                                        <div class="panel-body hide-sm hidden-xs">
                                                            <table class="summary_card_ymvvy2">
                                                                <tbody>
                                                                    <tr class="td_ncx8ah">
                                                                        <td>
                                                                            <!-- react-text: 133 -->12 lessons x 1 month
                                                                            <!-- /react-text -->
                                                                            <!-- react-text: 134 -->
                                                                            <!-- /react-text -->
                                                                        </td>
                                                                        <td class="text-right price-item__price">
                                                                            <div class="">₦0</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="td_ncx8ah">
                                                                        <td>
                                                                            <!-- react-text: 139 -->Service fee
                                                                            <!-- /react-text --><i class="fa fa-question-circle icon_1bfu94e"></i></td>
                                                                        <td class="text-right price-item__price">₦2000</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <hr style="margin-top: 0px; margin-bottom: 0px;">
                                                        <div class="panel-body hide-sm">
                                                            <div class="sidebar-text-large space-2">
                                                                <table class="summary_card_jbk4gr">
                                                                    <tbody>
                                                                        <tr class="td_18og9qv">
                                                                            <td> Total &nbsp; </td>
                                                                            <td class="text-right price-item__price">
                                                                                <div class="">₦2000</div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="visible-xs panel-body text-center"><a> View pricing and trip summary</a></div>
                                            </div>
                                            <div class="panel" style="margin-bottom: 0px;">
                                                <div class="hidden">
                                                    <div class="panel-body" style="border: 1px solid rgb(238, 238, 238);">
                                                        <div class="risk-messagebox-pane row row-condensed">
                                                            <div class="va-container va-container-h va-container-v">
                                                                <div class="col-sm-10">
                                                                    <h4 class="risk-messagebox__title space-top-1">Need Help or Have Questions?</h4>
                                                                    <hr>
                                                                </div>
                                                                <div class="va-middle col-sm-2">
                                                                    <div class="img--air-defender-no-overlap text-right"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-10 col-md-12 col-lg-12 risk-messagebox__content">Call us on 09094526878</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hidden-xs">
                                                    <div class="panel-body" style="border: 1px solid rgb(238, 238, 238);">
                                                        <div class="risk-messagebox-pane row row-condensed">
                                                            <div class="va-container va-container-h va-container-v">
                                                                <div class="col-sm-10">
                                                                    <h4 class="risk-messagebox__title space-top-1">Need Help or Have Questions?</h4>
                                                                    <hr>
                                                                </div>
                                                                <div class="va-middle col-sm-2">
                                                                    <div class="img--air-defender-no-overlap text-right"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-10 col-md-12 col-lg-12 risk-messagebox__content">Call us on 09094526878</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    

    <div id="map-canvas" class="hidden"></div>
{% endblock first_request_summary %}
</div>
{% block footer %}
    <section id="my-custom-footer" class="row protection large-padding">
        <div class="page-container-full">
            <div class="row">
                <div class="col-lg-6 col-sm-8 col-sm-push-2 col-lg-push-3 text-center">
                    <div class="media-photo">
                        <img width="85" height="85"
                             src="{% static "img/gallery/policy.png" %}">
                    </div>
                    <h2>
            <span class="font-head">
              Refund Policy
            </span>
                    </h2>

                    <p>
                        If you are not completely satisfied with the lessons, we will promptly replace the tutor or
                        refund your balance directly.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock footer %}
{% block bottom_footer %}{% endblock bottom_footer %}
{% block request_section %}{% endblock request_section %}
{% block javascript %}
    {{ block.super }}
    {% block cutsom_script %}
        <script>
            window.NOOFSTUDENTS = {{request_instance.no_of_students}};
            window.defState = JSON.parse("{{regions|escapejs}}");
        </script>
    {% endblock cutsom_script %}
    <script>
        
        window.tutor_request = "Noo"
    </script>
    {#{% render_bundle 'vendor' %}#}
    {#{% render_bundle 'region' "js" %}#}
    <script src="{% static "js/request_parent.bundle.js" %}"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&region=NG&key=AIzaSyAkEDJcOnQRw9sDDENqa4zeAvLMmD35_fk&callback=initializeCallback"></script>


{% endblock %}