<footer class="footer-general row xs-no-margin-left-right">
    <!-- Container -->
    <div class="container">
    <hr>
            <div class="col-sm-12" style="font-size:14px">
                
                <!-- Footer Content -->
                <!-- Paragraph -->
                <div class="no-padding-left">
                    <p class="pull-left"><a href="/">&copy; Tuteria, Ltd.</a></p>
                    
                    <ul class="list-inline pull-right">
                        <li><a href="{% url 'terms' %}">Terms of Use</a></li>

                        <li><a href="{% url 'policies' %}">Policies</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
</footer>
