<div class="clearfix hidden-xs">
    <div class="col-sm-12 foot-item-content no-padding-left">
        <div class="col-sm-6">
            <h5>Find tutors by location</h5>
            <hr style="margin-top:10px">
            <div class="col-sm-4 no-padding-left">
                <ul class="list-unstyled ">
                    <!-- Link -->
                    <li><a href="#" class="white hover-underline">Tutors in Lagos</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Abuja</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Port Harcourt </a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Ibadan</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Kano </a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Owerri </a></li>
                </ul>
            </div>
            <div class="col-sm-4 no-padding-left">
                <ul class="list-unstyled ">
                    <!-- Link -->
                    <li><a href="#" class="white hover-underline">Tutors in Ogun</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Kaduna </a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Enugu</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Katsina</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Ilorin </a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Ekiti </a></li>
                </ul>
            </div>
            <div class="col-sm-4 no-padding-left">
                <ul class="list-unstyled ">
                    <!-- Link -->
                    <li><a href="#" class="white hover-underline">Tutors in Benin City</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Osun</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Akwa Ibom</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Jos </a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Akure</a></li>
                    <li><a href="#" class="white hover-underline">Tutors in Anambra </a></li>
                </ul>
            </div>
        </div>
       <div class="col-sm-6">
            <h5>Find tutors by categories</h5>
            <hr style="margin-top:10px">
            <div class="col-sm-4 no-padding-left">
                <ul class="list-unstyled ">
                    <!-- Link -->
                    <li><a href="#" class="white hover-underline">Mathematics Tutors</a></li>
                    <li><a href="#" class="white hover-underline">English Tutors</a></li>
                    <li><a href="#" class="white hover-underline">Science Tutors </a></li>
                    <li><a href="#" class="white hover-underline">Exam Prep Tutors </a></li>
                    <li><a href="#" class="white hover-underline">Music Tutors </a></li>
                </ul>
            </div>
            <div class="col-sm-4 no-padding-left">
                <ul class="list-unstyled ">
                    <!-- Link -->
                    <li><a href="#" class="white hover-underline">Language Tutors</a></li>
                    <li><a href="#" class="white hover-underline">Computer & Software</a></li>
                    <li><a href="#" class="white hover-underline">Programming Tutors</a></li>
                    <li><a href="#" class="white hover-underline">Business & Commerce </a></li>
                    <li><a href="#" class="white hover-underline">Dance & Craft</a></li>
                </ul>
            </div>
            <div class="col-sm-4 no-padding-left">
                <ul class="list-unstyled ">
                    <!-- Link -->
                    <li><a href="#" class="white hover-underline">Cooking Tutors</a></li>
                    <li><a href="#" class="white hover-underline">Beauty & Lifestyle</a></li>
                    <li><a href="#" class="white hover-underline">Arts & Religion </a></li>
                    <li><a href="#" class="white hover-underline">Special Needs Tutors </a></li>
                    <li><a href="#" class="white hover-underline">Sport & Fitness</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>