<!-- Navigation links -->
<li class="dropdown"><a href="{% url 'home' %}">Mathematics <i class=""></i></a>
    <!-- Full width mega menu with Nav tabs -->
    {% include 'includes/nav/sub-nav-dropdown.html' %}
</li>
<li class="dropdown"><a href="#">English <i class=""></i></a>
    {% include 'includes/nav/sub-nav-dropdown.html' %}
</li>
<li class="dropdown"><a href="#">Languages <i class=""></i></a>
    {% include 'includes/nav/sub-nav-dropdown.html' %}
</li>
<li class="dropdown"><a href="#">Music <i class=""></i></a>
    <!-- Dropdown menu -->
    <div class="dropdown_container dropdown_2columns">
        <!-- Multi level dropdown menu -->
        <ul class="dropdown_flyout">
            <li><a href="portfolio-one.html">Portfolio One</a></li>
            <li><a href="portfolio-two.html">Portfolio Two</a></li>
            <li><a href="portfolio-three.html">Portfolio Three</a></li>
            <li><a href="portfolio-four.html">Portfolio Four</a></li>
            <li><a href="portfolio-single.html">Portfolio Single</a></li>
        </ul>
    </div>
</li>
<li class="dropdown"><a href="#">Science</a><i class=""></i>
    {% include 'includes/nav/sub-nav-dropdown.html' %}

</li>

<li class="dropdown"><a href="#">Exam Preparation <i class=""></i></a>
    <!-- Dropdown menu -->
    <div class="dropdown_container dropdown_2columns">
        <!-- Multi level dropdown menu -->
        <ul class="dropdown_flyout">
            <li><a href="portfolio-one.html">Portfolio One</a></li>
            <li><a href="portfolio-two.html">Portfolio Two</a></li>
            <li><a href="portfolio-three.html">Portfolio Three</a></li>
            <li><a href="portfolio-four.html">Portfolio Four</a></li>
            <li><a href="portfolio-single.html">Portfolio Single</a></li>
        </ul>
    </div>
</li>
<li class="dropdown"><a href="#">Special Needs <i class=""></i></a>
    <!-- Dropdown menu -->

</li>
<li class="dropdown"><a href="#">Computer & Software <i class=""></i></a>
    <!-- Dropdown menu -->
    <div class="dropdown_container dropdown_2columns">
        <!-- Multi level dropdown menu -->
        <ul class="dropdown_flyout">
            <li><a href="portfolio-one.html">Portfolio One</a></li>
            <li><a href="portfolio-two.html">Portfolio Two</a></li>
            <li><a href="portfolio-three.html">Portfolio Three</a></li>
            <li><a href="portfolio-four.html">Portfolio Four</a></li>
            <li><a href="portfolio-single.html">Portfolio Single</a></li>
        </ul>
    </div>
</li>

<li class="dropdown"><a href="contact-us-one.html">Cooking</a></li>
{% block small_screen %}
    <li class="dropdown"><a href="#">Others <i class=""></i></a>
        <!-- Dropdown menu -->

        <div class="dropdown_container dropdown_2columns">
            <!-- Multi level dropdown menu -->
            <ul class="dropdown_flyout">
                <li><a href="ui-designs.html">Arts & Religion</a></li>
                <li><a href="#">Beauty & Style</a></li>
                <li><a href="#">Sports & Fitness</a></li>
                <li><a href="#">Dance & Craft</a></li>
                <li><a href="#">Elementary Education</a></li>
            </ul>
        </div>
    </li>
{% endblock %}
