<div class="dropdown_container dropdown_4columns">
    <div class="row">
        <div class="col-sm-6 border-right">
            <!-- Navigation links. Use the class "mega-links" for adding icon before link -->
            <ul class="mega-links no_bullets ">
                <li><a href="accordion.html">Accordion</a></li>
                <li><a href="blockquote.html">Blockquote</a></li>
                <li><a href="box-shadow.html">Shadow Box</a></li>
                <li><a href="brave-components.html">Basic Brave
                    Components</a>
                </li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="counter.html">Counter</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="cta.html">CTA</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="mega-links no_bullets">
                <li><a href="divider.html">Divider</a></li>
                <li><a href="bootstrap-carousel.html">Carousel</a></li>
                <li><a href="heading.html">Heading</a></li>
                <li><a href="icon-box.html">Icon Box</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="image-box.html">Image Box</a></li>
                <li><a href="images.html">Images</a></li>
                <li><a href="knob.html">Knob</a></li>
            </ul>
        </div>
    </div>
</div>