{% extends 'registration/emails/base_application.html' %}
{% block title %}Congrats! Your application was approved{% endblock %}
{% block main_content %}
    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 20px; font-weight: 600"
            st-title="rightimage-title">

            Congratulations Godwin!
        </td>
    </tr>
    <!-- end of title -->
    <!-- Spacing -->
    <tr>
        <td width="100%" height="10"></td>
    </tr>
    <!-- Spacing -->
    <!-- content -->
    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #666666; text-align:left;line-height: 24px;"
            st-content="rightimage-paragraph">
            Your application has been approved! We are impressed by your application and believe you have the qualities to succeed as a prestigious tutor with Tuteria.
        </td>

    </tr>

    <!-- Spacing -->
    <tr>
        <td width="100%" height="15"></td>
    </tr>
    <!-- end of content -->

    <!-- Start of Welcome Content -->

    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; text-align:left;line-height: 24px; color: rgb(219, 89, 64); font-weight: bold"
            st-content="rightimage-paragraph">
            Next Step: Create your first subject
        </td>
    </tr>

    <!-- Spacing -->
    <tr>
        <td width="100%" height="5"></td>
    </tr>

    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #666666; text-align:left;line-height: 23px;"
            st-content="rightimage-paragraph">
            You can create as many subjects as you'd love to teach, set your own prices and make yourself stand out by giving a superb description of your experience, expertise and unique teaching style.
            <br><br>
            Click the link below or log into your account now to start creating subjects. The more subjects you create, the more clients you'll receive and the more money you stand to make.
        </td>
    </tr>

    <!-- Spacing -->
    <tr>
        <td width="100%" height="20"></td>
    </tr>
    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #666666; text-align:left;line-height: 23px;"
            st-content="rightimage-paragraph">
            Get started right away!
        </td>
    </tr>

    <tr>
        <td width="100%" height="20"></td>
    </tr>


    <!-- button -->
    <tr>
        <td>
            <a href="#">
                <table height="40" align="left" width="100%" valign="middle" border="0" cellpadding="0" cellspacing="0"
                       class="tablet-button" st-button="edit">
                    <tbody>
                    <tr>

                        <td width="auto" align="center" valign="middle" height="30"
                            style=" background-color: rgb(219, 89, 64); border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:13px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:18px; padding-right:18px;">

                            <span style="font-weight: 700; color: #ffffff; text-align:center;text-decoration: none;"
                                  href="#">Create your first subject</span>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </a>

        </td>

        <!-- Spacing -->
    <tr>
        <td width="100%" height="20"></td>
    </tr>

{% endblock %}