{% extends "emails/src/base_rendered.html" %}

{% block right_text %}{% endblock right_text %}

{% block body %}
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Hello there!</strong></p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">From all of us at Tuteria, we wish you and your kids a very happy children’s day today!</p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">And we also want to specially thank you for investing in them. We strongly believe that your hopes and dreams for your child’s future will be achieved and even surpassed.</p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Your children will have a great story. A story marked by many successes, positive results and significant accomplishments that will saturate your heart with lots of joy. But behind all their stories, is your story - because yours is where theirs begin. </p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Thanks once again for investing in them, and for allowing us be a part of their story.</p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Happy Children’s Day!</p>

    <br>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">With Love,</p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left; font-weight:bold;">The Tuteria Team</p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Tel: 09094526878</p>
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Web: <a href="www.tuteria.com/hometutors">www.tuteria.com/hometutors</a></p>

    {% endblock body %}
{% block extras %}{% endblock extras %}
{% block footer %}{% endblock footer %}
{% block panel_notice2 %}

{% endblock panel_notice2 %}
{% block panel_notice %} {% endblock panel_notice %}
{% block panel_notice4 %}

 {% endblock panel_notice4 %}
{% block bottom_link %} {% endblock bottom_link %}
{% block panel_notice5 %}
{% endblock panel_notice5 %}
{% block panel_notice3 %}
<table class="panel-row row padding-component" bgcolor="#083F5D" style="background-color:#083f5d;border-collapse:collapse;border-spacing:0;display:block;padding:0;padding-left:30px!important;padding-right:10px!important;position:relative;text-align:left;vertical-align:top;width:100%">
  <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
      <td class="wrapper" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:10px 20px 0 0;position:relative;text-align:left;vertical-align:top;word-break:break-word">
        <table class="twelve columns" style="border-collapse:collapse;border-spacing:0;margin:0 auto;margin-top:20px;padding:0;text-align:left;vertical-align:top;width:580px">
          <tbody>
            <tr style="padding:0;text-align:left;vertical-align:top">
              <td id="thanks_panel" class="ten sub-columns" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#fff;font-family:sans-serif;font-size:14px;font-weight:lighter;hyphens:auto;line-height:23px;margin:0;min-width:0;padding:0 0 10px;padding-right:10px;text-align:left;vertical-align:top;width:83.333333%;word-break:break-word">
                <h2 style="color:#fff!important;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;word-break:normal">
                  What our customers are saying...
                </h2>
                <p style="color:#fff!important;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.5em;margin:0;margin-bottom:10px;padding:0;padding-top:10px;text-align:left">
                  <em>The lessons have been very productive. My son's grades have really improved, and even his school teachers comment on his new confidence. He now answers questions in class, and scores higher than most of his class mates. His tutor keeps to time & they bonded well together. I've already recommended Tuteria to some friends.</em>
                </p>
                <p style="color:#fff!important;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.5em;margin:0;margin-bottom:10px;padding:0;padding-top:10px;text-align:left">- Alice Onuoha <em>(3 Months Lessons)</em>
                </p>
              </td>
              <td class="two sub-columns" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;min-width:0;padding:0 0 10px;padding-right:10px;text-align:left;vertical-align:top;width:16.666666%;word-break:break-word"><img src="http://johnnyfratto.com/wp-content/uploads/2015/01/icon-testimonials.png" alt="" style="-ms-interpolation-mode:bicubic;clear:both;display:block;margin:0;max-width:100%;outline:0;padding:0;text-decoration:none;width:auto" class="CToWUd" width="80">
                </td>
                <td class="expander" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0!important;text-align:left;vertical-align:top;visibility:hidden;width:0;word-break:break-word">

                </td>
              </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% endblock panel_notice3 %}
