{% extends "helps/home.html" %}
{% load template_utils staticfiles %}
{% block sidbar_nav_class %}active{% endblock sidbar_nav_class %}
{% block article_block %}
<div class="col-sm-9 col-xs-12 help-content text-copy navtree-content breadcrumbs-content">

  <div class="popular-topics">
    <div class="row row-space-6">
      <div class="col-sm-12 row-space-1">
        <h2>Suggested for You</h2>
      </div>
      <div class="col-sm-12">
        <div class="row row-space-3">
          <div class="col-sm-12 text-copy">
            <a href="/support/article/125?cref=9746377c3" data-hook="track_homepage_article_click">
              How much do I pay for a reservation?
            </a>
          </div>
        </div>
        <div class="row row-space-3">
          <div class="col-sm-12 text-copy">
            <a href="/support/article/450?cref=c4667dad6" data-hook="track_homepage_article_click">
              What is Verified ID?
            </a>
          </div>
        </div>
        <div class="row row-space-3">
          <div class="col-sm-12 text-copy">
            <a href="/support/article/13?cref=d503944e9" data-hook="track_homepage_article_click">
              How do reviews work?
            </a>
          </div>
        </div>
        <div class="row row-space-3">
          <div class="col-sm-12 text-copy">
            <a href="/support/article/297?cref=ca977f7e5" data-hook="track_homepage_article_click">
              How do I apply for professional photography?
            </a>
          </div>
        </div>
        <div class="row row-space-3">
          <div class="col-sm-12 text-copy">
            <a href="/support/article/169?cref=76e10c5d7" data-hook="track_homepage_article_click">
              How do I cancel my reservation as a guest?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row row-space-8">
    <h2 class="col-sm-12 row-space-3">
      Getting Started
      <hr>
    </h2>
    <div class="col-sm-4 col-xs-12">
      <div class="media">
        <div class="pull-left media-photo how-airbnb-works"></div>
        <div class="media-body">
          <h4>
            How Airbnb Works
          </h4>
          <p class="text-copy">
            Learn what Airbnb is all about, and discover the tools that help make sharing easy, reliable, and safe.
          </p>
          <a class="text-copy" href="/support/getting-started/how-it-works">
            Read more
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12">
      <div class="media">
        <div class="pull-left media-photo hosting-basics"></div>
        <div class="media-body">
          <h4>
            Hosting Basics
          </h4>
          <p class="text-copy">
            Learn how to list your space, respond to requests, and welcome guests into your home.
          </p>
          <a class="text-copy" href="/support/getting-started/how-to-host">
            Read more
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12">
      <div class="media">
        <div class="pull-left media-photo traveling-basics"></div>
        <div class="media-body">
          <h4>
            Traveling Basics
          </h4>
          <p class="text-copy">
            Learn how to search for the perfect place, contact hosts, and prepare for a memorable trip.
          </p>
          <a class="text-copy" href="/support/getting-started/how-to-travel">
            Read more
          </a>
        </div>
      </div>
    </div>
  </div>




</div>
{% endblock %}