{% extends "helps/home.html" %}
{% load template_utils staticfiles %}
{% block article_block %}
<div class="row row-space-6 row-space-top-6">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 help-content text-copy navtree-content breadcrumbs-content">
      <h1> How it Works </h1>

      <ol class="list-unstyled getting-started-list getting-started-how-it-works">
          <li class="panel row-space-6 step-a-community">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-7 col-xs-12">
                  <h3>A Learning Community Built on Trust</h3>
                  <p>Tuteria began in 2014 when two friends realized how difficult it was to find competent local people to learn from. Now, thousands of tutors and clients can <a href="//www.airbnb.com/signup_login"> create a free Tuteria account </a> so they can offer private tutoring and book lessons anywhere in Nigeria.</p>
                  <strong><a class="see-more" href="#" data-prevent-default="">
                      Learn More
                  </a></strong>
              </div>
              <div class="col-sm-4 col-sm-offset-1 pull-right">
                <i class="illustration"> </i>
            </div>
        </div>

        <div class="row row-space-top-4">
            <div class="col-sm-12 more hide">
              <ul class="list-unstyled bullets-list">
                <li class="row-space-top-6">
                  <h3>Profiles</h3>
                  <p>
                      No two people are the same, so personal Tuteria profiles help clients and tutors learn more about each other before having lessons. We don't display full names or contact information on public profiles, so the community can feel confident that their information is safe.
                  </p>
              </li>
              <li class="row-space-top-6">
                  <h3>Subjects</h3>
                  <p>
                    From academic subjects for every educational level to international, local and professional exams, and even to informal skills like <a href="#">Photography</a>, <a href="#">Dance</a>, <a href="#">Makeup and Cooking</a>, Tuteria helps people find qualified tutors to learn what matters to them. Tutors describe their experience and teaching styles, and clients leave reviews about their experience with tutors.
                </p>
            </li>
            <li class="row-space-top-6">
              <h3>Local Communities</h3>
              <p>
                  Tuteria helps build connections within communities by encouraging interpersonal learning and sharing among people within the same local community. Clients and tutors live close to each other’s homes, so they don’t need to travel too far for lessons.
              </p>
          </li>                                            
      </ul>
  </div>
</div>
</div>
</li>
<li class="panel row-space-6 step-secure-services">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-7">

          <h3>Trusted Services </h3>
          <p>
              Tuteria makes it easy and safe to hire qualified local tutors and instructors. We delicately assess all tutors for competence, verify personal profiles, publish reviews, facilitate thorough background checks and manage a trusted platform to collect and transfer payments.
          </p>
          <strong><a class="see-more" href="#" data-prevent-default="">
              Learn More
          </a></strong>
      </div>

      <div class="col-sm-4 col-sm-offset-1 pull-right ">
        <i class="illustration"></i>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 more hide">
      <ul class="list-unstyled bullets-list">
        <li class="row-space-top-6">
          <h3>Verifications </h3>
          <p>
              Tuteria puts clients and tutors at ease with <a href="#">Verified IDs</a> and public reviews. Having a Verified ID indicates that you’ve completed a specific set of verifications – offline ID, online ID, profile photo, email address and phone number. Clients and tutors also build trust and <a href="#">cultivate their reputations</a> by writing reviews about their experience after each lesson.
          </p>
      </li>
      
      <li class="row-space-top-6">
          <h3>Background Checks</h3>
          <p>
            Tuteria goes the extra mile for safety by facilitating thorough <a href="#">Background Checks</a>. Clients may easily request a background check to be carried out on any tutor before commencing lessons. We have partnered with <a href="#">Background Checking Int’l</a>, the leading background checking company in Nigeria, to run background checks on behalf of clients.
        </p>
    </li>
    <li class="row-space-top-6">
      <h3>Payment System</h3>
      <p>
          Our secure and convenient payment system supports all major payment and payout methods. Tuteria collects client payments at the point of booking lessons and waits till lessons have been confirmed before releasing the funds to tutors. This way, clients and tutors can feel confident knowing that Tuteria will process and deliver payments whenever lessons have been taught.
      </p>
  </li>
</ul>
</div>
</div>
</div>
</li>
<li class="panel row-space-6 step-customer-support">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-7 col-xs-12">
          <h3>24/7 Customer Support</h3>
          <p>Whether you are hiring or tutoring, we’re always here for you before, during, and after your lessons. We’ve answered the most common questions about Tuteria in our Help Center, and for everything else you can contact us by visiting tuteria.com/contact.</p>
      </div>

      <div class="col-sm-4 col-sm-offset-1 pull-right">
        <i class="illustration"></i>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 more hide">
      <ul class="list-unstyled bullets-list">
      </ul>
  </div>
</div>
</div>
</li>
</ol>
{% include "helps/includes/looking-for.html" %}
</div>
{% endblock %}